[2013-07-22 20:08] alneberg opened #1 "Input format for coverage?"
There seems to be a bit confusion about which format to use for the coverage? If a bam-file exists, the script that @inodb created should be used to generate a proper matrix that the CONCOCT script can read. Which format will this be? Log coverage? Coverage? Read counts? At the moment, mean coverage is assumed by CONCOCT.

[2013-07-22 20:09] alneberg opened #2 "What does the last T in CONCOCT represent?"
This is quite major... The description doesn't look too good at the moment.

[2013-07-24 11:56] #2 closed, assigned to chrisquince

[2013-07-24 12:24] chrisquince opened #3 "How to multithread the code?"
This to me is the biggest issue right now. I think I have figured out the best clustering strategy but to test on large data sets we need to parallelise the code in a trivial way. Just running each GMM fit on a different thread. What is the best way to do this in sklearn?

I did find this:

https://github.com/ogrisel/parallel_ml_tutorial

Chris

[2013-07-26 08:00] #3 closed, assigned to alneberg

[2013-08-20 10:14] alneberg opened #4 "Scaling"
Scaling has to be done on the data.

[2013-08-20 10:16] alneberg opened #5 "Split pca"
Feature that night be more efficient.

[2013-08-21 06:15] alneberg opened #6 "Nose temporary folder should be created when tests are rum."

[2013-08-21 19:25] #6 closed, assigned to alneberg

[2013-08-27 21:29] #4 closed, assigned to alneberg

[2013-08-28 13:35] chrisquince opened #7 "Is CONCOCT deterministic?"
I am just testing this but is the CONCOCT clustering deterministic in the sense that running with the same input data and parameters always produces the same output? If not we probably need to seed sklearn with a default random seed. A user defined seed should then be added as command line argument option.

[2013-08-28 13:36] chrisquince opened #8 "Output PCA transformation"
We need CONCOCT to output the PCA transform so that we can transform cluster means etc. back into the PCA space. Alternatively we could output PCA transformed means and variances.

[2013-08-28 13:37] chrisquince opened #9 "CSV output"
Some of our csv output is actually space separated e.g. the cluster means.

[2013-08-28 15:07] inodb opened #10 "Linkage generation is extremely slow for large bam files"
Not sure why pysam is so slow. Have to investigate further. Either reimplement in awk or find some way to speed-up the parsing of bam files in python.

[2013-08-28 15:10] inodb opened #11 "Linkage generation does not consider ambiguous links"
Currently the linkage generation does not take ambiguous links into account. From the testcases it would seem bowtie2 does not generate these alignments by default unless the -a parameter is specified. Depending on alignment parameters and sequence aligner used, this could be an issue.

[2013-08-28 15:16] alneberg opened #12 "Output progress."
Output progress of clustering. Either to a file or stdout, either as default or as an option.

[2013-08-28 19:24] #8 closed, assigned to nobody

[2013-08-28 19:38] #9 closed, assigned to nobody

[2013-08-28 20:47] #12 closed, assigned to alneberg

[2013-08-28 22:07] chrisquince opened #13 "Scaling prior to PCA changes optimal cluster number"
Scaling prior to the PCA greatly reduces the optimal number of components based on BIC to less than the number of species. This is probably not desirable. Intuitively I believe it must be because scaling weights all dimensions equally. Since there are more composition dimensions than coverage we effectively bias towards composition. Until this is resolved I suggest we only scale after PCA.

[2013-08-29 11:16] #13 closed, assigned to nobody

[2013-08-31 16:30] chrisquince opened #14 "Not correctly clustering"
Something in one of the recent revisions has actually stopped the GMM clustering from working correctly. It might have been the introduction of scaling. I have reverted to using the last version in the month of July. In future any revisions should be tested on an example data set that we know the correct output for.

[2013-09-05 13:42] #14 closed, assigned to nobody

[2013-09-06 12:05] chrisquince opened #15 "Output PCA transformed variances"
I need the PCA transformed variances outputted in addition to the PCA transformed means to plot the cluster ellipses. We should probably put all the variances and means in separate output directories to prevent cluttering of the working directory.

[2013-09-09 18:10] #15 closed, assigned to nobody

[2013-09-09 21:21] alneberg opened #16 "Put all dependencies in setup.py"
Check so that all dependencies are in setup.py and should be installed if they are not already so.

[2013-09-10 10:17] alneberg opened #17 "User defined seeds"
Let the user define seeds for the gmm.

[2013-09-10 10:26] alneberg opened #18 "Investigate --executions option."
The --executions option is reported to not work as expected. I guess it makes sense that if a deterministic seed is used, the number of executions does not make a difference to the result. But if CONCOCT is ran in a non deterministic fashion (should be enabled), more executions should improve the results.

[2013-09-10 10:29] #7 closed, assigned to nobody

[2013-09-10 11:37] alneberg opened #19 "Separate scripts/code used for evaluation/testing from the code meant for production."
I suggest we have scripts used for evaluation separated from the rest of the code since this could otherwise become very confusing. These scripts could either go into the tests folder or into a subdirectory of the scripts dir.

[2013-09-10 12:06] #17 closed, assigned to binnisb

[2013-09-10 15:37] alneberg opened #20 "Put variance output files in sub-directories."
The dimension of the variance matrix can sometimes be large and thus produce plenty of files. Good idea to clean this up by putting all variance files in a sub directory.

[2013-09-11 08:51] alneberg opened #21 "Parallellization in slurm based cluster (e.g UPPMAX)"
I'm not sure CONCOCT will be parallel over more than one node. Could this be investigated by someone?

[2013-09-11 22:53] #10 closed, assigned to nobody

[2013-09-12 06:23] #1 closed, assigned to alneberg

[2013-09-12 13:04] alneberg opened #22 "Put info about convergence in logs"
Currently, convergence is printed to stderr. Should be logged as well.

[2013-09-12 13:05] alneberg opened #23 "Use information about convergence."
The baseline is that CONCOCT should not output a clustering where the algorithm did not converge.

[2013-09-13 16:53] #21 closed, assigned to binnisb

[2013-09-13 20:31] #5 closed, assigned to alneberg

[2013-09-18 19:34] #22 closed, assigned to nobody

[2013-09-19 09:22] alneberg opened #24 "Output repsonsibilities for all contigs."
Responsibilities are equally important for the short contigs not used for building the cluster model.

[2013-09-19 09:30] binnisb opened #25 "MPI logging, only master thread logs convergence"
When running with MPI, only the master thread logs to the log file.
There are some ways to fix this:
1. All write to separate log files and combine in the end
or
2. Ffind a way to send the logging to the master thread.

I don't think all threads can log to the same file since they can be on different nodes.
Some ideas:
https://groups.google.com/forum/#!topic/mpi4py/SaNzc8bdj6U

[2013-09-19 10:02] alneberg opened #26 "Change default value of iterations"
Change it from 100 to 1000, more suitable for big datasets.

[2013-09-19 10:14] binnisb opened #27 "Only create output for successful convergence"
Only create output for successful clusterings. Warn that some failed and suggest increasing iterations for those.

[2013-09-19 16:38] chrisquince opened #28 "Output still not deterministic"
It is important that the output of CONCOCT is predictable in the sense that running with the same parameters on the same data gives the same results. From testing that does not seem to be the case. I am a bit confused because looking at the code I think it should work. In that we are setting the same numpy random seed (11) every time we run it and sklearn should be calling the numpy random number

[2013-09-19 16:53] chrisquince opened #29 "--total_percentage_pca working incorrectly?"
Was this feature tested? My understanding is that as we increase the value beyond the 90% default more dimensions should remain after the transformation. However, that is not what I see rather that adjusting this value always results in just one dimension remaining after PCA.

[2013-09-24 20:07] alneberg opened #30 "The final call to GMM can cause twice as long execution time."
Currently, all cluster numbers are tried out in parallel and the best one is redone. The clustering/gmm that correspond to the minimal bic value should instead be kept through the parallel step.

This issue is worst for large datasets where the amount of cluster numbers to fit is about the same as the number of procecssors used.

[2013-09-26 11:27] chrisquince opened #32 "Additional models"
Whilst just running the 'full' model should perhaps remain the default we should allow additional models to be specified too. This would add quite a lot of extra complexity as the correct approach is to run all models over all cluster numbers and keep the best combination of both.

[2013-09-26 21:08] alneberg opened #33 "Different bic outputs depending on the max_number_processors argument."
I found a strange bug: If I run:

[code]

I get

[code]

while if I run

[code]

I get

[code]

The result is not random and it is the same for both my laptop and on Uppmax server.

[2013-09-27 14:40] #28 closed, assigned to nobody

[2013-10-01 18:19] alneberg opened #34 "Reverse transformed covariances."
How should the covariances be reverse transformed? The background is that I've compared the output from CONCOCT ran on my laptop and on the UPPMAX cluster. There seems to be a problem with getting the PCA deterministic, which seems to be a known problem on sklearn:

"Due to implementation subtleties of the Singular Value Decomposition (SVD), which is used in this implementation, running fit twice

[2013-10-01 18:50] #26 closed, assigned to nobody

[2013-10-01 18:50] #29 closed, assigned to nobody

[2013-10-01 18:50] #27 closed, assigned to nobody

[2013-10-01 18:50] #33 closed, assigned to nobody

[2013-10-01 20:19] #32 closed, assigned to nobody

[2013-10-16 05:24] #23 closed, assigned to nobody

[2013-10-24 18:33] alneberg opened #35 "README is outdated"
The help message and the requirements need a touch up.

[2013-10-24 18:59] binnisb opened #36 "Move and rename CONCOCT/concoct/CONCOCT"
The CONCOCT script should live in the scripts folder and be named concoct

To me it feels more linux-y to call the program so:

concoct coverage composition

rather than

CONCOCT coverage composition

Also, the CONCOCT file is technically not part of the concoct python module (the module is what lives in the folder CONCOCT/concoct), but a script that executes functions from the concoct module. The

[2013-11-05 20:35] #36 closed, assigned to binnisb

[2013-11-06 12:25] chrisquince opened #37 "Error when only subset of samples used"
With the new normalisation there is a bug appearing when I run only a subset of the mock samples (see error message below). I thought this may be because some contigs end up with zero total coverage and this gives a NaN when logged but we apply a pseudo-count first so in that case you should still have a non-zero total coverage.

---

Up and running. Check /home/chrisq/CONCOCT_PUSH2/Mock/SampleRV/

[2013-11-07 21:47] chrisquince opened #38 "Minor bug on contig filtering"
So I think I have found another minor bug. I am running CONCOCT for different sample numbers on the mock. This is with mostly default parameters. Usually the number of contigs with greater > 1000 kmers is 11,002 but on some data sets it  finds 11,004. I have looked at the two added contigs and they have a length of 867 bp so they should not pass the filtering step. Can you check that the size filt

[2013-11-08 19:47] #38 closed, assigned to nobody

[2013-11-24 15:02] #35 closed, assigned to nobody

[2013-11-24 17:32] #37 closed, assigned to nobody

[2013-12-03 10:05] alneberg opened #40 "Complete example - Data"
We need to extract reads from the mock data and likely put it somewhere else than github (github and git is not optimized for large files) and link to it from the example doc.

[2013-12-03 10:09] alneberg opened #41 "Complete Example Doc - Assembly and mapping reads"

[2013-12-05 08:17] alneberg opened #42 "N characters in fasta sequence crashes concoct execution."

[2013-12-05 09:32] #42 closed, assigned to alneberg

[2013-12-06 09:43] #41 closed, assigned to inodb

[2013-12-19 12:50] alneberg opened #43 "Do not output original data (optionally?)"
For big datasets the output file 'original_data_gt<threshold>.csv' can become very large, especially if a large k is used for the compositional data. I think it would be useful to have a parameter to disable this output.

[2014-01-03 10:00] alneberg opened #44 "Output PCA transformation matrix."
@chrisquince needs the PCA transformation matrix in order to back transform the result. Need to look into the pca options scikit-learn offers.

[2014-01-09 10:14] #30 closed, assigned to nobody

[2014-01-15 12:17] alneberg opened #45 "Replace reference result file tests with more flexible tests."
The tests using reference result files will be outdated when we switch the clustering implementation. It is a lot more flexible to use some clustering statistics like recall/precision instead. This should be complemented with other tests like making sure all contigs are in the result files and so on.

[2014-01-15 12:21] alneberg opened #46 "Include the C-CONCOCT repo within the CONCOCT repo."
Where should we put it? This does not include implementing the c-python binding, just move the actual repo to a suitable location.

[2014-02-11 15:57] #46 closed, assigned to binnisb

[2014-02-11 16:02] #44 closed, assigned to alneberg

[2014-03-25 13:08] alneberg opened #53 "Execution never stops if only one contig is left after filtering"
The call to the c-module never finishes if only one contig is left after length filtering. A solution is to not allow clustering of only one contig after filtering.

[2014-03-26 09:53] #40 closed, assigned to nobody

[2014-03-26 09:56] alneberg opened #54 "Remove length column as default from input table."
The length column needs to be removed by an additional call with cut or otherwise the concoct run uses 'length' as an additional sample which will corrupt the results.

[2014-04-14 12:29] alneberg opened #59 "Total coverage should be added after per sample normalization"

[2014-04-14 12:30] alneberg opened #60 "Total coverage should be log transformed."

[2014-04-14 15:00] #60 closed, assigned to nobody

[2014-04-15 07:38] #59 closed, assigned to nobody

[2014-04-17 08:33] alneberg opened #65 "Calculation of coverage is incorrect"
The calculation of coverage is incorrect due to the contig_lengths vector used is wrong.
- [x] Write a test that catches this error, using a contig of length 100 for example
- [x] Fix the length calculation and check that this fixes the error.

[2014-04-22 14:16] #53 closed, assigned to nobody

[2014-04-22 14:16] #65 closed, assigned to binnisb

[2014-04-22 14:51] #25 closed, assigned to nobody

[2014-06-23 17:37] debugpoint136 opened #90 "conda install error - numpy 1.7"
## Is there a workaround this error : -

Error: Unsatisfiable package specifications
Hint: the following combinations of packages create a conflict with the
remaining packages:
- numpy 1.7*

[2014-06-26 17:27] #90 closed, assigned to nobody

[2014-07-23 06:55] alneberg opened #91 "Add sphinx documentation that can be read on readthedocs.org"
Would be nice to have a complete documentation including what is now on the readme and the complete example page but also including a more complete manual. I suggest readthedocs.org to host such a documentation.

[2014-07-23 08:31] alneberg opened #92 "Reformat complete example into rst"
This will make it easier to include it into the sphinx documentation. This will cause some links to break, for example the one on the readme.

[2014-08-06 18:20] dbrami opened #95 "MarkDuplicates portion of test data misbehaving?"
Hi I ma going through the example and i am running into errors.
Here's the first error that is repeated for every read:

100000 reads; of these:
  100000 (100.00%) were paired; of these:
    61595 (61.59%) aligned concordantly 0 times
    37960 (37.96%) aligned concordantly exactly 1 time
    445 (0.45%) aligned concordantly >1 times
    ----
    61595 pairs aligned concordantly 0 times; of these:

[2014-08-07 09:19] #92 closed, assigned to alneberg

[2014-08-13 13:55] alneberg opened #98 "Docker documentation"
It is a bit messy at the moment, most of it should be kept in the 'installation' section of the docs and only the relevant parts in the complete example. It also contains at least one broken link and some information about suitable OS:s that is uncorrect.

[2014-08-13 19:25] jrherr opened #99 "compiling error on MacOSX"
I'm attempting to install CONCOCT using Anaconda on MacOSX and I am getting the following error during installation:

[code]

I tried on machines running both Mavericks & Yosemite and both fail.
Do I need a fortran compiler for it?  Linux ubuntu installation seemed to rely on it.

[2014-08-14 15:11] #99 closed, assigned to nobody

[2014-08-19 09:56] #16 closed, assigned to nobody

[2014-08-19 09:57] #91 closed, assigned to alneberg

[2014-08-19 09:57] #98 closed, assigned to alneberg

[2014-09-23 17:13] alneberg opened #104 "Coverage normalisation takes place before filtering on length"
This is a bug that could be deemed serious. Since we normalise coverage over samples,  contigs that will  not take place in the clustering, does take place in the normalisation. I don't know how large the effect is on the actual clustering.

[2014-09-25 08:23] alneberg opened #106 "Log item for pca dimensions wrong"
1. Misspelled
2. For more recent versions of Scikit-learn, e.g. 0.15.2 the print statement will be '0.9' instead of the number of dimensions kept. I suggest we use the shape of the resulting pca dataframe to infer the number of dimensions instead, to keep support for later versions of scikit as well.

[2014-09-30 14:16] #104 closed, assigned to alneberg

[2014-09-30 14:59] #106 closed, assigned to nobody

[2014-09-30 16:24] alneberg opened #110 "Adapt docker documentation to use docker versions"
Docker have support for versions of docker images, which we should use.

[2014-10-24 11:18] sandyjmacdonald opened #112 "Couple of errors in scripts/ClusterPlot.R"
I stumbled across a couple of errors in the ClusterPlot.R script, related to opts/theme.

The `opts(legend.text=theme_text(size=4))` command on line 83 needs to be changed to `theme(legend.text=element_text(size=4))`

All good apart from that.

[2014-10-29 15:48] inodb opened #114 "Documentation shows 0.3.2 in the header instead of latest 0.4.0"
The readthedocs documentation shows 0.3.2 in the header instead of latest 0.4.0. Are there new things that should be documented for version 0.4.0 compared to 0.3.2?

[2014-10-29 16:21] #114 closed, assigned to nobody

[2014-11-06 17:17] jvollme opened #117 "Compilation error on linux/ubuntu: gsl/gsl_vector.h: No such file or directory"
Hi,
I'm trying to install CONCOCT-0.4.0 on a Linux (Ubuntu 14.04) system using Anaconda.
gsl1.16-4 is installed (and so are all the dependancies listed in the CONCOCT-installation-instructions)
However, when I try to run the installer-script within the conda-environment, i get the following error:

"gcc -pthread -fno-strict-aliasing -g -O2 -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I

[2014-11-07 09:04] #117 closed, assigned to nobody

[2014-11-10 15:52] alneberg opened #118 "Clarify which parameters are optional which arent"
The composition file and the coverage file should not be stated as optional at the moment.

[2014-11-10 16:07] alneberg opened #119 "Add pip install recommendation in the docs."

[2014-12-03 10:19] alneberg opened #122 "Automate complete example test data"
Using the script created by @inodb here: http://ino.pm/blog/rst2code/ the code blocks in the complete example documentation could be ran extracted and ran automatically. This could then be done both to verify the documentation but also to update the test-data repository when a new release of concoct is created.

[2014-12-17 15:47] alneberg opened #127 "Allow parse to take only bam files."
Should be possible to do with only pysam, but it might be potentially slow. This would simplify the usage of concoct for the user, instead of running coveragebed just inputting bamfiles, but more importantly it would allow the possibility to run the cutup step within parse and independent of the mapping.

[2014-12-17 15:51] alneberg opened #128 "Integrate the cutup step within parse"
Instead of running the cutup script and then (probably) rerunning the mapping, one could integrate the cutup step after the mapping step if the bam files are given as input (issue #127). Not sure exactly how the calculations should be done efficiently, but some pysam method should be applicable.

[2014-12-22 13:55] dturaev opened #129 "Contig names can cause error"
Hi, I applied concoct as described in the documentation and ran into the error below. It seems to be related to the naming of contig identifiers: If they are called "contig-1", "contig-2" etc., it works; if they have numerical identifiers ("1", "2", ...), the error comes up.

The command was: `concoct -c 40 --coverage_file coverage.txt --composition_file contigs.fa -b concoct-results`

The file "c

[2015-01-07 07:51] alneberg commented on #129
Hi @dturaev,

sorry for not answering earlier, this must have slipped my attention somehow. In order to investigate your problem further, I would like to know the contents of your contigs.fa file. My first hypotheses are that this problem could either be caused by having to few contigs (I'm not sure if I've ever tried clustering only 2 contigs with concoct), or if the ids in the fasta file does no

[2015-01-13 21:02] dburkhardt opened #133 "FYI: BiopythonDeprecationWarning"
Thank you guys for working on this, I'm really excited to apply CONCOCT to some soil metagenome data I'm working with. I thought I'd give you all a heads up that I'm getting a BiopythonDeprecationWarning when I run the concoct binary. Not urgent. It seems like everything still works.

# concoct -c 40 --coverage_file concoct_inputtableR.tsv --composition_file 1018256.scaffolds_10k.fa -b concoct-out

[2015-01-14 10:04] dturaev commented on #129
Hi Johannes,

the very same command worked if the contig identifiers were not numeric (>1, >2 etc.) but e.g. >contig-1, >contig-2 etc. So I don't think it depends on the content of the contigs.fa file. Also, the identifiers in the fasta file and in the coverage file do match.
My contigs.fa file has several thousands sequences, and it worked nicely after I changed the contig identifiers both in the

[2015-01-27 09:44] binnisb opened #135 "gevent for printing out data"
Nice library for python async. Maybe use it when saving to disk since we can do it in parallel, at least if the file system supports it (proper server file system usually allow multiple writes to disk in async).

http://www.gevent.org/

[2015-02-06 07:57] etheleon opened #136 "problem with installation"
Hi,
tried installing concoct both from pip and from git source.

When i call concoct, it throws up the following errors

[code]

* my gcc was built in the local dir.
* and i'm using anacoda (installed without error)
* my gsl is v1.9 (checked with gsl-config --version)
   however cpp programs which require the gsl headers will only compile if i ran it as such:
`gcc test.cpp -o main -lgsl -lgslcblas

[2015-02-06 08:49] binnisb commented on #136
I guess you don't have the gsl installed?
gsl_linalg_cholesky_invert is at least a function from GSL and it seems
that it is not found.

Cheers,
Brynjar

On 6 February 2015 at 08:57, etheleon <notifications@github.com> wrote:

[2015-02-06 09:15] etheleon commented on #136
Hi I've installed gsl from source,

simple cpp compiled successfully
[code]

[2015-02-06 16:44] etheleon commented on #136
managed to get it installed using

`CFLAGS="-lgsl -lgslcblas" python setup.py install`

tried running but met the following error
[code]

[2015-02-07 01:46] etheleon commented on #136
it ended up to be a problem with the version of gsl installed. upgraded to 1.16

[2015-02-07 10:24] binnisb commented on #136
Thanks for the update, which version were you using before the upgrade?

Cheers,
Brynjar

On 7 February 2015 at 02:46, etheleon <notifications@github.com> wrote:

[2015-03-02 02:58] etheleon commented on #136
gsl 1.9

[2015-03-02 02:58] #136 closed

[2015-03-06 11:48] yoyohashao opened #137 "'import vbgmm' then 'ImportError: dlopen : Symbol not found'"
Dear Admin, this is my first time to run CONCOCT but it gave me this messeage. Is there anything wrong with ANACONDA? Thanks

(concoct_env)SEBASTIANs-MacBook-Pro:CONCOCT-0.4.0 FLFLFLLF$ which concoct
//anaconda/envs/concoct_env/bin/concoct
(concoct_env)SEBASTIANs-MacBook-Pro:CONCOCT-0.4.0 FLFLFLLF$ concoct -h
Traceback (most recent call last):
  File "//anaconda/envs/concoct_env/bin/concoct", line

[2015-03-07 06:10] yoyohashao opened #138 "Can't install CONCOCT on macos via Docker"
Dear all, as in my previous post, I couldn't get CONCOCT start in anaconda so I tried Docker. But when I trying to download the image, an error came up:
bash-3.2$ sudo docker run -v /home/USER/Data:/opt/Data -i -t binpro/concoct_latest bash
FATA[0000] Post http:///var/run/docker.sock/v1.17/containers/create: dial unix /var/run/docker.sock: no such file or directory. Are you trying to connect to a

[2015-03-09 07:57] alneberg commented on #137
Hi @yoyohashao,

yes this could be an Anaconda error. Did you previously use any other python virtual environment like virtualenv or virtualenv-burrito? These do not play well together with anaconda and you need to uninstall them before installing anaconda. Please let me know if this helps or if the issue seems to be something else.

[2015-03-09 08:00] alneberg commented on #138
Hello @yoyohashao,

I will investigate the docker error further and try to get back to you. The error with the docs seems to be a wrong link, it should be ".html" instead of ".rst". Can you please tell me where you found this link so that I can correct it.

Thanks,
Johannes

[2015-03-09 08:27] yoyohashao commented on #138
Dear Johannes,
The link was found on a software installation page (https://concoct.readthedocs.org/en/latest/installation.html#id1 <https://concoct.readthedocs.org/en/latest/installation.html#id1>) ,the command line is :sudo docker run -v /home/USER/Data:/opt/Data -i -t binpro/concoct_latest bash
Thanks.

Fang Liu
PhD Candidate
Rm. 3-410 School of Life Sciences and Biotechnology
Shanghai Jiaotong

[2015-03-09 08:28] yoyohashao commented on #137
Hi Johannes,
Yesterday I updated my gsl packages from 1.9 to 1.16. Now I don’t have any problem. Thanks.

Fang Liu
PhD Candidate
Rm. 3-410 School of Life Sciences and Biotechnology
Shanghai Jiaotong University
Shanghai,China 200240
https://www.researchgate.net/profile/Fang_Liu37

[2015-03-09 08:34] #137 closed

[2015-04-10 08:54] lch14forever opened #139 "MAX_LINE_LENGTH in vbgmmodule.h"
In vbgmmodule.h, the maximal line length is defined as 10000
#define MAX_LINE_LENGTH   10000
This may cause an issue with large input files.

[2015-04-10 10:44] alneberg commented on #139
Hi @lch14forever!

Thanks for reporting! I see that this can be a problem, just out of curiosity, have this caused a problem for you yet and in that case, how many samples (and which kmer length) were you using?

Cheers,
Johannes

[2015-04-10 12:59] lch14forever commented on #139
Hi Johannes,

We did encounter problems and found that could be the potential cause. We were trying to analyse hundreds of samples from multiple studies. Would you recommend to analyse them separately?

Thanks,
Chenhao.

[2015-04-21 08:26] alneberg opened #140 "Doc errors"
Blast should be in dependencies for evaluation
$ONCOCT spelling mistake in COG_table section of the complete example.

[2015-04-23 10:29] yoyohashao opened #141 "Trying to evaluate concoct output. Error in read file"
SEBASTIANs-MacBook-Pro:evaluation-concoct FLFLFLLF$ Rscript /Users/FLFLFLLF/Documents/CONCOCT-0.4.0/scripts/ClusterPlot.R -c /Users/FLFLFLLF/tsmg/concoctOUT/clustering_gt1000.csv -p /Users/FLFLFLLF/tsmg/concoctOUT/pca_means_gt1000.csv -r /Users/FLFLFLLF/tsmg/concoctOUT/pca_variances_gt1000_dim -l -o tsmgconcoctClusterPlot.pdf
Loading required package: methods
Error in read.table(file = file, heade

[2015-04-23 11:23] alneberg commented on #141
Hi @yoyohashao,

I will look into this issue further, but I can say that we don't use ClusterPlot.R at the moment, it will show you the clusters in the first two pca dimensions and while that might be interesting, we've not had any particular use for it so far and this script might be removed in a future version. I would recommend you to continue to generate the COG Plot following the instructions

[2015-04-25 12:04] chrisquince commented on #139
Hi,

I have changed the C code so that the default max line length is 1048576 bytes or 1 MiB. I have also made the memory allocation of the lines dynamic so that this can simply be increased further if need be.

Thanks,
Chris

[2015-05-08 07:15] alneberg commented on #139
@lch14forever Can you please confirm that the current master solves the issue?

Cheers,
Johannes

[2015-05-08 07:19] #18 closed

[2015-05-08 07:20] alneberg commented on #18
The --executions option has been removed for quite some time.

[2015-05-08 07:23] alneberg commented on #95
Closing due to inactivity. @dbrami

[2015-05-08 07:23] #95 closed

[2015-05-08 07:46] alneberg commented on #138
@yoyohashao, Are you still interested in solving this issue? It looks like in the command you were using to start docker you should switch USER with your user name. It tries to give docker access to the directory Data in your home directory so that directory needs to be created.

Cheers,
Johannes

[2015-05-08 08:58] yoyohashao commented on #138
Hello Johannes,
 I am running CONCOCT with ANACONDA. The user name issue you mentioned makes sense but I am not sure if i actually typed USER as username. I probably just copied the commander line on the web page to show you which command I use (well , obviously I should have given the command line in my Terminal, #misunderstanding ;( )

But thanks for emailing me anyway. Now I can run CONCOCT on

[2015-05-08 09:06] alneberg commented on #138
Ok great that you're able to use CONCOCT! I would say anaconda is the preferred way to get it running so its good you gave that another try.

[2015-05-08 09:06] #138 closed

[2015-05-12 09:36] lch14forever commented on #139
Yes. This solves the problem.
It seems that the vbgmm stage takes extremely long to run. Do you have any idea how scalable the method is?

Thanks,
Chenhao.

[2015-05-20 12:49] alneberg commented on #139
Great @lch14forever!

I am afraid we've seen poor time performance on large datasets as well. There are some tricks you can do to speed it up, but you will risk lowering the clustering performance. Otherwise you just need some patience.

[2015-05-20 12:49] #139 closed

[2015-05-21 08:19] yoyohashao opened #146 "ValueError: Input contains NaN, infinity or a value too large for dtype('float64')"
Dear Johannes,

After successfully running CONCOCT on my several datasets, today I hit a rock. It says:

![image](https://cloud.githubusercontent.com/assets/7657231/7744285/a6b28156-ffd4-11e4-9b34-56e2342e87ae.png)

My fasta file and coverage file are all in UTF-8 format. The only thing different than usual is I removed contigs shorter than 300bp in my fasta file using mothur.

The files I used ca

[2015-05-21 08:29] alneberg commented on #146
Hi @yoyohashao,

I can confirm that I can reproduce your error. I will investigate further what could be the issue. I see that you only use coverage from one sample. While this is possible, I wouldn't recommend it since it will probably not perform particularly good.

[2015-05-21 08:41] yoyohashao commented on #146
Thanks for the replay Johannes.
I am using CONCOCT as a way of removing contamination of my single-cell genomes.That’s why there’s only one sample. One of my friends said she used this to bin the target genomes from single-cell datasets so I just followed her suggestion as I am not a skilled bioinformatician.
   I also test CONCOCT on one metagenome and it generates a few meaningful bins. Due to s

[2015-05-21 08:49] alneberg commented on #146
That's interesting! I've no experience of single cell sequencing but I think I've found your issue. It seems like the coverage file is malformed, it should contain one header line and only one tab between columns. To include multiple samples you would only add more columns in the coverage file. Its actually more valuable to include samples that are not true replicates but samples from a similar en

[2015-05-21 10:21] yoyohashao commented on #146
Hi Johannes,
Things just got really odd here.
The command I used to generate coverage file is

cat FASTAFILE | grep "^>" | awk -F "\_" '{print $0"\t"$6}' > coverage.cov

then I used find&replace to remove the ‘>’ of each name line.
 I don’t really know why this command never works.
I upload my previous fasta and workable coverage file (https://drive.google.com/file/d/0B_JVazsg7l0yN0ZzS0tHMzg0QkU/v

[2015-05-21 15:27] yoyohashao commented on #146
Hi, I noticed in my last email I forgot to mention even I deleted that
extra empty column, the file didn't work. So I wonder what's your method to
generate coverage files. Hope my problem doesn't bother you much. Thanks

Best,
Fang
On May 21, 2015 4:49 PM, "Johannes Alneberg" <notifications@github.com>
wrote:

[2015-08-28 06:53] yoyohashao opened #147 "concoct takes forever to load composition file when kmer length is set to 9 or more"
Hey guys,
the default value of kmer length is 4 and 5 works as well. But when I set the kmer length to 9 or more, concoct feels like stuck at the initial step. No error message but the composition file couldn't be loaded. Any idea about this issue? The input composition file is <600MB.
Many thanks

[2015-08-28 08:39] alneberg commented on #147
Hi @yoyohashao,

yeah this is not really unexpected since the number of kmers generated in concoct will be on the order of (4^9)/2 = 131072. This will be stored per contig, so you could quite likely be running out of memory. I guess there could be approaches to fix this issue in the terms of loading the data but in order to finish running the algorithm you can't have too many dimensions. I guess t

[2015-08-28 08:47] yoyohashao commented on #147
Gotcha Johannes.

Thanks for answering

Fang Liu
PhD Candidate
Rm. 3-410 School of Life Sciences and Biotechnology
Shanghai Jiaotong University
Shanghai,China 200240
https://www.researchgate.net/profile/Fang_Liu37

[2015-08-31 08:28] #147 closed

[2015-09-18 12:16] alneberg opened #150 "Concoct can't handle contig ids consisting of digits only."
Pandas will read in the index from the coverage table as an int64 which will not work in the comparison with the standard index from the composition file. Using digits only in the contigs id will cause the coverage table to be empty after filtering it on the ids from the composition file (when filtering out the short contigs).

[2015-11-07 11:04] binnisb opened #152 "Add concoct to http://bio.tools ?"
https://bio.tools?

[2015-11-16 14:14] alneberg commented on #152
Sure, why not? You wanna do it @binnisb? I've never heard of it before, but it looks like a nice initiative.

[2015-11-16 15:33] #133 closed

[2015-11-16 15:33] #140 closed

[2015-11-16 15:35] alneberg opened #156 "Use container infrastructure at Travis CI"
Should speed up test and help travis work better:

http://docs.travis-ci.com/user/migrating-from-legacy/?utm_source=legacy-notice&utm_medium=banner&utm_campaign=legacy-upgrade

[2015-11-16 16:52] #43 closed

[2015-11-29 16:29] tdangelo1 commented on #150
I was not able to find a way around this bug to proceed with running CONCOCT. Is there a way to produce the coverage table that avoids this issue? My contig ids are not digits only, they are a combination of digits and letters

[2015-11-30 08:53] alneberg commented on #150
Hi @tdangelo1, can you please submit the error message you got from concoct? If your contigs are not only digits I guess its not this error that is causing the error right?

[2015-11-30 13:14] tdangelo1 commented on #150
This is using the example data that came with the program:

cd $CONCOCT_EXAMPLE/map
python $CONCOCT/scripts/gen_input_table.py --isbedfiles \
    --samplenames <(for s in Sample*; do echo $s | cut -d'_' -f1; done) \
    ../contigs/velvet_71_c10K.fa */bowtie2/asm_pair-smds.coverage \

mkdir $CONCOCT_EXAMPLE/concoct-input
mv concoct_inputtable.tsv $CONCOCT_EXAMPLE/concoct-input/

and I receive this

[2015-11-30 13:17] alneberg commented on #150
Have you checked that you have the same number of samplenames as you have .coverage files?

What do you get if you run:

    for s in Sample*; do echo $s | cut -d'_' -f1; done

and

    ls */bowtie2/asm_pair-smds.coverage

[2015-11-30 16:02] tdangelo1 commented on #150
I have switched to my own data, but am receiving the same error message:
It appears the other parts of the loop are working

timd@brain:~/spades-concoct/map$ ls */bowtie2/asm_pair-smds.coverage
site1_R1.fastq.gz/bowtie2/asm_pair-smds.coverage  site2_R1.fastq.gz/bowtie2/asm_pair-smds.coverage  site3_R1.fastq.gz/bowtie2/asm_pair-smds.coverage
timd@brain:~/spades-concoct/map$ for s in site*; do echo

[2015-11-30 16:30] alneberg commented on #150
Would you mind staying at the example data for a while longer? You say it does not work for that data as well? The script should work on that data. At least it is for me at the moment. I tried copying the command you supplied:

    python $CONCOCT/scripts/gen_input_table.py --isbedfiles \
    --samplenames <(for s in Sample*; do echo $s | cut -d'_' -f1; done) \
    ../contigs/velvet_71_c10K.fa */b

[2015-11-30 16:53] tdangelo1 commented on #150
Hi Johannes,

That addressed my problem. I have gotten it to work for the test data and my own data. Sorry for the confusion and thank you much for your patient help.

Tim D'Angelo

________________________________
From: Johannes Alneberg <notifications@github.com>
Sent: Monday, November 30, 2015 11:30 AM
To: BinPro/CONCOCT
Cc: Timothy D'Angelo
Subject: Re: [CONCOCT] Concoct can't handle contig id

[2015-11-30 16:56] alneberg commented on #150
That's great to hear! Hope this will clear out the confusion for other people as well. :+1:

[2015-12-01 14:21] mherold1 opened #158 "Parallelization of vbgmm"
Hello,

I was trying to run concoct binning for reads of 53 samples mapping to ~ 7,5 mio. contigs and with max expected clusters of 200. The binning did not finish in the 5 days maximum walltime in our hpc, so I was wondering if I can increase the number of threads that vbgmm runs on (I guess the other alternative would be to reduce the number of expected clusters?).
I found the following line in

[2015-12-01 15:52] alneberg commented on #158
Hi Malte,

I'm sorry to say that the parallelization of vbgmm is crude at this moment. It is basically using one thread for each run of the clustering before deciding on the best one in the end. It is by default running 10 threads and 10 initializations so ensuring that you have 10 cores available to concoct could be an improvement. But assuming you have at least 10 cores available when you run it

[2015-12-01 16:14] mherold1 commented on #158
Thanks for the reply.

During the first test I used 10 cores for the run to match the default 10 threads. I was just wondering if I had more cores available (e.g. 24 on 1 node or possible even more), could I change the N_RTHREADS so that vbgmm makes use of 24 cores instead. Can I do that by simply editing the headerfile and recompiling the module? How would I recompile the module, simply by rerunn

[2015-12-01 16:40] alneberg commented on #158
Yes, changing N_RTHREADS and compiling could probably work, but you would not gain any speed on it due to the way concoct uses the threads. It will not use them to speed up, but only to run more iterations and thus potentially improve the clustering results. So you would need to do some redesigning of the implementation in order to parallelize it better.

I suspect the composition data is just les

[2015-12-01 16:50] mherold1 commented on #158
Ah thank you for explaining that again, I did not get it the first time.

I will see what I can try and I'll let you know how it goes.

Thanks again.

[2015-12-01 16:59] alneberg commented on #158
No problem.

Good luck!
Johannes

[2015-12-01 16:59] #158 closed

[2016-02-01 17:35] dong5600 opened #159 "cannot run dnadiff_dist_matrix.py"
Hello, I am trying to run dnadiff_dist_matrix.py to compare my bins. However, the program gave errors:

2016-02-01 11:20:20,289:INFO:root:Checking dependencies
Traceback (most recent call last):
  File "/home/apps/CONCOCT/CONCOCT-0.4.1/scripts/dnadiff_dist_matrix.py", line 305, in <module>
    main(*parse_input())
  File "/home/apps/CONCOCT/CONCOCT-0.4.1/scripts/dnadiff_dist_matrix.py", line 268,

[2016-02-01 17:43] alneberg commented on #159
Seems like you need to install mummer or make sure that the mummer command
dnadiff is available.

Hope this helps.

/ Johannes
Den 1 feb 2016 18:35 skrev "dong5600" <notifications@github.com>:

[2016-02-01 17:46] dong5600 commented on #159
Thanks a lot, Johannes. I loaded MUMmer, it seems working!

[2016-02-01 18:17] dong5600 commented on #159
Hello, I got some new error messages:
Traceback (most recent call last):
  File "/home/apps/CONCOCT/CONCOCT-0.4.1/scripts/dnadiff_dist_matrix.py", line 305, in <module>
    main(*parse_input())
  File "/home/apps/CONCOCT/CONCOCT-0.4.1/scripts/dnadiff_dist_matrix.py", line 294, in main
    "hclust_dendrogram.{}".format(plot_image_extension)))
  File "/home/apps/CONCOCT/CONCOCT-0.4.1/scripts/dnadiff

[2016-02-01 19:09] alneberg commented on #159
Hi, I don't think your python version is a problem but you might wanna have
a look at your version of scipy. If you have the latest version we might
have to look into that closer.

Johannes
Den 1 feb 2016 19:17 skrev "dong5600" <notifications@github.com>:

[2016-06-03 09:36] Stephaniedv opened #160 "IndexError: index 0 is out of bounds for axis 0 with size 0"
Hi,

I submit this
module load python/x86_64/2.7.2
	concoct -c 40 --coverage_file final_contigs_cuttofragments_PE_and_SE_sorted_duplicatesremoved.coverage.percontig.tsv --composition_file final_contigs_contigs_cuttofragments.fasta -b concoct-output/

and get this error:
/software/shared/apps/x86_64/python/2.7.2/lib/python2.7/site-packages/biopython-1.65-py2.7-linux-x86_64.egg/Bio/Seq.py:342: Biopy

[2016-06-03 11:22] alneberg commented on #160
Hi @Stephaniedv,

I can't figure out completely what's going on based on the information you gave me but there seems to be some problem reading your coverage file. More specifically concoct has troubles identifying any columns in the coverage file. Is it tab separated?

I can make a more thorough debug effort if you send me some test data that can replicate the error.

Cheers,
Johannes Alneberg

[2016-06-03 12:09] Stephaniedv commented on #160
thank you, that was exactly it! I changed it and it worked :)

From: "Johannes Alneberg" <notifications@github.com>
To: "BinPro/CONCOCT" <CONCOCT@noreply.github.com>
Cc: "stephanie devos" <stephanie.devos@ugent.be>, "Mention" <mention@noreply.github.com>
Sent: Friday, June 3, 2016 1:22:04 PM
Subject: Re: [BinPro/CONCOCT] IndexError: index 0 is out of bounds for axis 0 with size 0 (#160)

Hi @Steph

[2016-06-03 12:11] alneberg commented on #160
Glad I could help!

[2016-06-03 12:11] #160 closed

[2016-06-07 13:34] Stephaniedv commented on #160
Dear Johannes,

One more question, I hope you don't mind.
Concoct is running, but has been running for over 4 days now.
In the output folder, there are these files:
-rw-r--r--+ 1 stvos aflp 500 Jun 3 13:51 args.txt
-rw-r--r--+ 1 stvos aflp 693 Jun 3 14:03 log.txt
-rw-r--r--+ 1 stvos aflp 276M Jun 3 14:02 original_data_gt1000.csv
-rw-r--r--+ 1 stvos aflp 140K Jun 3 14:03 PCA_components_data_gt1000.

[2016-06-07 14:45] alneberg commented on #160
Sure!

Yes its not a completely strange amount of time used, although I cannot really tell from the file sizes only how long time I would expect. I don't spot anything abnormal in your output files so I would just recommend you to wait for concoct to finish.

Cheers,
johannes

[2016-06-07 14:47] Stephaniedv commented on #160
ok!

Thanks loads, also for such a quick response.

Stéphanie

From: "Johannes Alneberg" <notifications@github.com>
To: "BinPro/CONCOCT" <CONCOCT@noreply.github.com>
Cc: "stephanie devos" <stephanie.devos@ugent.be>, "Mention" <mention@noreply.github.com>
Sent: Tuesday, June 7, 2016 4:45:39 PM
Subject: Re: [BinPro/CONCOCT] IndexError: index 0 is out of bounds for axis 0 with size 0 (#160)

Sure!

Y

[2016-07-11 03:13] bstamps opened #161 "Best way to set MRKDUP?"
Hello, currently getting the below error when trying to run map-bowtie2-markduplicates.sh:

/home/ubuntu/bin/CONCOCT/scripts/map-bowtie2-markduplicates.sh: line 97: MRKDUP: unbound variable

The most recent version of picard tools does not supply a MarkDuplicates.jar, and instead invokes the command through picard.jar. What's the best way to get this working?

[2016-07-11 07:03] alneberg commented on #161
Hi @bstamps,

thanks for giving us a heads up on this. I guess we need to rewrite the lines where picard is called in that script. I will have a look at it but as a quick fix for you I don't think its too difficult for you to manually change the command if you already know the correct command syntax.

Let me know if you need any assistance.

[2016-08-26 21:34] AlisonF opened #162 "different output plot generated by ClusterPlot.R in version 0.4.0"
Hi,

I was using CONCOCT version 0.4.0 to run the test data set https://github.com/BinPro/CONCOCT-test-data/releases. I was getting a completely different plot from the example after running ClusterPlot.R, where there were 16 clusters in the plot that I generated
[ClusterPlot_data0.3.2.pdf](https://github.com/BinPro/CONCOCT/files/440186/ClusterPlot_data0.3.2.pdf)
and only 4 in the example
[Cluster

[2016-08-29 07:58] alneberg commented on #162
Hi Alison,

I will look into this but I need you to clarify a bit what you have done. Did you use different versions of the CONCOCT program or different versions of the data? Which versions in that case?

The plots you sent me does indeed look very different, but I can't really guess from the file names, what differs in how you generated them.

Cheers,
Johannes

[2016-08-29 14:48] AlisonF commented on #162
Hi Johannes,

Thanks for the reply. I used **CONCOCT version 0.4.0** to run **test data set 0.3.2**. Therefore I named the plot "ClusterPlot_data0.3.2.pdf". Sorry about the confusion. In fact, I ran **test data set 0.2.0** with **CONCOCT version 0.4.0** again and got the exact same plot with 16 clusters [ClusterPlot_data0.2.0.pdf](https://github.com/BinPro/CONCOCT/files/442604/ClusterPlot_data0.2.

[2016-08-30 12:02] alneberg commented on #162
Hi, it's getting clearer.

Did you follow the [tutorial](https://concoct.readthedocs.io/en/latest/complete_example.html)?

I tried running both CONCOCT and ClusterPlot.R version 0.4.0 on test data 0.3.2, but without being able to reproduce your results. It alls seems to work for me.

Can you post the output from `ls` in your concoct output directory? That will tell how many clusters you got from r

[2016-08-31 15:10] fwhelan opened #163 "Best way to deal with mixed bins?"
Good morning,

First, thank you for the organization and capacity of CONCOCT- its been a very easy and fun tool to use! I have a question about following up on the complete example. I have 5 samples (I know the numbers are lower than suggested...) which CONCOCT splits into 25 bins. When I validate this against LMAT taxonomic assignments, I get decent precision:

N       M       TL      S       K

[2016-08-31 17:43] alneberg commented on #163
Good evening, ;)

thanks for the feedback! I've never heard of LMAT before, it looks interesting.

I would say the statistics look pretty good as well since a little depending on your sample I would assume there is a certain error rate associated with the taxonomic assignment as well? That said, we do see quite frequently that some bins contain more than one genome and we are working on tools to i

[2016-08-31 20:49] AlisonF commented on #162
Yes I followed the tutorial and made sure that all commands I used was the same as tutorial except two things:
**1.** I used full paths rather than setting variables as suggested in the tutorial. For example, when the tutorial says:
cat $CONCOCT_TEST/reads/Sample*_R1.fa > All_R1.fa
I would do:
cat my/full/path/to/CONCOCT_test_data_0.3.2/reads/Sample*_R1.fa > All_R1.fa

**2.** When I ran ClusterPlo

[2016-09-01 07:03] alneberg commented on #162
Ok, yes the assembly looks different.

The command you are quoting is actually missing a '*':

cat my/full/path/to/CONCOCT_test_data_0.3.2/reads/Sample_R1.fa > All_R1.fa

should be

cat my/full/path/to/CONCOCT_test_data_0.3.2/reads/Sample*_R1.fa > All_R1.fa

If that's the case for the command you used, it would explain why the result is different. I realize now that the velvet version is not docum

[2016-09-01 12:36] fwhelan commented on #163
Hahaha, then, I think, a Good afternoon is in order now?

Thanks so much for your suggestions. I visualized some of the mixed bins with anvi'o and it makes a lot of sense by CONCOCT mixed them. For example, one bin contains what I estimate to be 3 Streptococcus species which are present at very similar abundances in all 5 of my input samples. I don't think this is a case of CONCOCT not performing

[2016-09-01 12:36] #163 closed

[2016-09-01 12:38] alneberg commented on #163
Indeed it is!

Yes that would be a difficult situation for the algorithm. Hope you find a way to deal with it.

Cheers

[2016-09-01 18:34] AlisonF commented on #162
Yes I had a typo there, sorry about that. The files All_R1.fa and All_R2.fa are indeed both 272M each:
![all_r1_fa_all_r2_fa](https://cloud.githubusercontent.com/assets/5695450/18178418/3eae0cf8-704c-11e6-8dc7-17f0ad674ffc.png)

I ran the velvet commands again:
velveth velveth_k71 71 -fasta -shortPaired -separate All_R1.fa All_R2.fa
velvetg velveth_k71 -ins_length 400 -exp_cov auto -cov_cutoff aut

[2016-12-01 16:19] Skeshani opened #164 "AttributeError: 'Namespace' object has no attribute 'no_original_data'"
Hi,
I'm using CONCOCT for my metagenomic data. I have created successfully the bam files and tables.
my running script is:
/home/sk3389/tools/CONCOCT-master/bin/concoct -c 40 -l 100 --total_percentage_pca 85 --coverage_file ATL_inputtableR.tsv --composition_file /lustre/scratch/sk3389/GroopM/IDBAH_ALT
/contig.fa -b /lustre/scratch/sk3389/CONCOCT/output
However, CONCOCT stopped:
Traceback (most rec

[2017-01-19 17:56] shannonmargaret commented on #161
I ran into the same issue I'm guessing to resolve this you set $MRKDUP= java -jar MarkDuplicates
however in the map-bowtie2-markduplicates.sh $MRKDUP is being called as

 java -Xms1g -Xmx24g -XX:ParallelGCThreads=$THREADS -XX:MaxPermSize=1g -XX:+CMSClassUnloadingEnabled \
    -jar $MRKDUP \

so then it seems as though one should set $MRKDUP as Markduplicates??? Is this correct?  Some guidance on w

[2017-01-19 19:27] alneberg commented on #161
Hello @shannonmargaret,

the MRKDUP variable used to contain the path for the markduplicates .jar file, however with the new picard syntax, I'm guessing you could set it to:

    export MRKDUP="<full path to picard.jar> MarkDuplicates"

I haven't tested this though. Another option, If you wish, is to run bowtie2 and markduplicates without using the convenience script map-bowtie2-markduplicates.sh.

[2017-03-17 14:04] liviamf02 opened #165 "R Version"
I'm trying to run the example scritpt:

Rscript $CONCOCT/scripts/ClusterPlot.R -c concoct-output/clustering_gt1000.csv -p concoct-output/PCA_transformed_data_gt1000.csv -m concoct-output/pca_means_gt1000.csv -r concoct-output/pca_variances_gt1000_dim -l -o evaluation-output/ClusterPlot.pdf

You are returning the following error:

Loading required package: methods
[1] "concoct-output/pca_variances_

[2017-03-17 14:19] alneberg commented on #165
Hi @liviamf02,

this error is fixed in the master branch but it haven't made it to a new release yet. You can download and replace the script from here: https://github.com/BinPro/CONCOCT/blob/master/scripts/ClusterPlot.R

[2017-03-17 14:23] alneberg commented on #164
Hi @Skeshani,

sorry for the late reply. I think this problem is due two different versions of concoct being in place. Perhaps you have downloaded the master branch but not reinstalled after updating the repository.  Reinstalling the repo should hopefully fix this issue.

[2017-03-17 14:29] alneberg commented on #162
Hi again @AlisonF,

sorry for not responding in half a year, but I think the clusterplot you achieved in the end is perfectly acceptable don't you?

[2017-03-17 14:29] #162 closed

[2017-03-17 14:29] #161 closed

[2017-03-17 14:29] #159 closed

[2017-03-17 14:38] liviamf02 commented on #165
Hi alneberg,

thank you very much for the information.
I downloaded the script from the indicated location, now the error is another one:

Loading required package: methods
[1] "concoct-output/pca_variances_gt1000_dim0.csv"
[1] "concoct-output/pca_variances_gt1000_dim1.csv"
[1] "concoct-output/pca_variances_gt1000_dim2.csv"
[1] "concoct-output/pca_variances_gt1000_dim3.csv"
[1] "#0075DC" "#993F00"

[2017-03-17 15:05] alneberg commented on #165
I think that's actually a successful run, you should have the resulting plot in your directory.

Johannes

[2017-03-17 15:54] liviamf02 commented on #165
Hi Johannes,
The file was created yes!
ClusterPlot.pdf

Thanks.

[2017-03-22 15:31] #165 closed

[2017-03-27 05:37] UCSBMicrobiologyCore opened #166 "concoct-nc"
Hi all;

This is probably a very basic problem, but I was wondering what the workflow would look like to bin using concoct without coverage info? I tried using the no total coverage flag, but it didn't spit out any bins.

thank you in advance

[2017-04-14 13:08] jfrank87 opened #167 "Trouble extracting bins from cluster file with linkage info"
Dear community,

I am unable to extract bins using a cluster file that includes linkage information.
Extracting bins without using linkage information works perfectly fine.
These are the commands I use:

[code]

The error message I get is as follows:

[code]

These are the first 5 lines of the cluster file:

[code]

Did anyone else encounter this problem before?
Any ideas on how to solve it? Or am

[2017-04-21 19:23] jianmingli1 opened #168 "gsl erro"
#include "gdal/gdal.h"
#include "gdal/gdal_priv.h"

#include <gsl/gsl_errno.h>
#include <gsl/gsl_math.h>
#include <gsl/gsl_min.h>
#include <gsl/gsl_roots.h>
#include <gsl/gsl_spline.h>

#include "src/epr_api.h"

when I compile .cpp file, it shows such error message.
anybody knows how to solve this?

fatal error: gsl/gsl_errno.h: No such file or directory
compilation terminated.

[2017-05-12 17:12] ntseng57 opened #169 "fasta_to_features.py Biopython Deprecation Warning"
Hi,

When I use the code:
`$CONCOCT_dir/scripts/fasta_to_features.py 02_assembly_metaSPADES/spades_output_nocareful_k127/contigs.fasta 55215 4 05_binning_cocacola/kmer_4_tmp.csv`

I get this issue and no output:
[code]

Could you fix the fasta_to_features script?

Thank you.

[2017-05-30 22:27] G-Brennan opened #171 "contigs with Ns"
Can't get fasta_to_features.py to run on contigs containing N's. Is there a workaround for this?

[2017-05-31 23:43] alex-b-chase opened #172 "Failed to open pca_variances_dimN.csv"
I am running CONCOCT with some assembled metagenomes from soil samples. I used MegaHit for the assembly and everything looked pretty good. Once I tried the binning, however, I get the following error. I still get the expected output file clustering.csv but cannot write the rest?

[code]
This seems to be an issue once I hit dim122 or greater. I have tried reducing the number of sequences as well an

[2017-06-20 17:23] jvollme opened #173 "cut_up_fastas.py strictly necessary for concoct?"
I do not quite understand the requirement for cutting large contigs into smaller chunks when using concoct.
Do you consider this a strict necessity or rather a recommendation?
Would you say bins generated with concoct using uncut contigs directly would be generally unreliable?

Using the uncut contigs instead would make it easier to directly compare the binning results with those of other binners,

[2017-06-26 18:23] lfaller opened #174 "Dockerfile does not run, is missing the bash shell"
Hi all,

I am trying to follow the example using your docker file: https://concoct.readthedocs.io/en/latest/complete_example.html

Unfortunately, I am getting the following error message:

[code]

Does the docker image contain the bash program?

Thanks for any advice!

Edit: additional information about this setup

*docker info output:*

[code]

*docker version output:*

[code]

[2017-06-30 18:17] inodb commented on #173
Thanks for your question @jvollme !

From the paper: Contigs were cut up into non-overlapping fragments of 10 kilobases in order to (1) give more weight to large contigs and (2) mitigate the effect of local assembly errors by having the potential to separate erroneous parts during clustering.

So yeah it would be better to cut them up. If all the contigs end up in the same bin, you can easily merg

[2017-07-05 20:32] inodb commented on #173
Closing this for now

[2017-07-05 20:32] #173 closed

[2017-07-07 18:58] lfaller opened #175 "How to estimate the "maximum number of clusters" for a soil metagenomics dataset?"
The example you provide mentions to `run concoct with 40 as the maximum number of cluster -c 40, that we guess is appropriate for this data set`.

Soil metagenomics datasets are believed to be very diverse.

Do you have any advice on estimating maximum cluster numbers?

Thanks!

[2017-07-19 21:49] bioinfo17 opened #176 "CONCOCT v0.4.1 and dnadiff_dist_matrix.py"
Hi,

Where could I download v0.4.1? Also dnadiff_dist_matrix.py is not found under /scripts in the older versions/releases of CONCOCT? Is it OK to download the dnadiff_dist_matrix.py script and work with older releases?

Thanks

[2017-08-10 13:11] jvollme commented on #169
While I also hope that concoct is going to be updated in the future, this warning just tells you that this code may not work in FUTURE Biopython versions. For now (as long as it only gives a DeprecationWARNING and not an ERROR) it should still work (similar issue was posted here: #133).
In case concoct is not going to be updated anytime soon, you can still maintain an old version of biopython for

[2017-08-10 13:15] inodb commented on #169
Thanks @jvollme yes this indeed not an issue at the moment

[2017-08-10 13:25] jvollme commented on #171
Hi g-Brennan. I recently ran into the same problem, and I decided to work-around this by modifying `fasta_to_features.py`, so that it simply skips (--> ignores) kmers which contain "N"s.

The Problem seems to be, that the script creates a dictionary of all possible kmers based on the standard nucleotides "A", "G", "C" & "T", and then tries to add the kmers it finds on the contig to this dictionary

[2017-08-10 14:03] jvollme commented on #129
#150

[2017-09-06 19:55] snayfach opened #177 "Add option for # of threads"
Maybe I missed it, but it would be useful to be able to specify the # of threads the program uses. It looks like it uses 10 by default.

Thanks,
Stephen

[2017-10-04 16:53] UCSBMicrobiologyCore opened #178 "obtaining separate fasta files per bin"
Hi all;

sorry--this question mustve been asked before but I can't seem to find it anywhere in the issues section (perhaps I didn't look hard enought through either issues or the full example).

I'm simply trying to find a way to obtain fasta files for each bin from the output of concoct. I ran it and it gives me SCV matrices almost exclusively as the output (no fasta files I can see). If my under

[2017-10-05 07:09] alneberg commented on #178
Hi Jon,

I believe you're looking for this script:

https://github.com/BinPro/CONCOCT/blob/master/scripts/extract_fasta_bins.py

This will extract all bins, suitable as input for e.g. CheckM to check which ones are good.

Cheers,
Johannes

[2017-10-05 07:09] #178 closed

[2017-10-05 07:13] alneberg commented on #177
Hi Stephen,

sorry to keep you waiting. We're working on a new truly parallel version of Concoct available in the branch SpeedUpMp where you can adjust the number of threads.

Previously, the ten threads of concoct all perform one run of the clustering, all initialised randomly, the clustering output is chosen as the best of these ten runs. Therefor adjusting the number of threads in the current v

[2017-10-05 07:13] #177 closed

[2017-10-06 00:35] UCSBMicrobiologyCore commented on #178
Hi Johannes...

thank you!

somewhat embarassingly, I can't fully parse out the semantics for the input
file...do you know what command format I need to run the script?

On Thu, Oct 5, 2017 at 12:09 AM, Johannes Alneberg <notifications@github.com

--
Don Jon.

[2017-10-09 06:17] alneberg commented on #178
Sure,

running the script with -h or --help should give you the basic commandline options:

[code]

However, I realised that if you've cut your original contigs into smaller parts, you probably want to merge them in the cluster results before extracting the cluster fastas:

https://github.com/EnvGen/toolbox/blob/master/scripts/concoct/merge_cutup_clustering.py

In that repo, there's also a script

[2017-11-11 00:30] aimirza commented on #117
`conda install -c nlesc gcc` worked for me.
I had the same problem. It seems that gcc is not installed. I cannot install using apt-get because I do not have sudo privileges. Fortunately, you can install gcc via conda.

[2017-11-17 13:53] alneberg commented on #175
The default value -c 400 usually works pretty well. The value 40 is used in the tutorial wich is a toy example. The general recommendation is to use approximately 4 times the expected number of genomes present in the input as the value for c. While highly diverse samples increase this value (for the E-coli dataset in the publication we used -c 1000) a lot of the diversity might not be reflected in

[2017-11-17 13:55] alneberg commented on #176
Version 0.4.1 is what's availble if you clone the repository and using the master branch. The script dnadiff script was added in version 0.4.1 and is therefore not available in the previous versions. I think it's fine to use the script with older versions yes.

[2017-11-17 13:55] #176 closed

[2017-11-17 13:58] alneberg commented on #174
Hi, I'm sorry to say we haven't maintained the docker container much since we don't have any setup where we're able to use it in production. Perhaps you can try to use /bin/bash instead of just bash. According to the notes within the dockerfile that should be the correct syntax:
https://hub.docker.com/r/alneberg/concoct/~/dockerfile/

[2017-11-17 14:01] alneberg commented on #172
Hi @alex-b-chase,

this looks strange. I'm suspecting this is due to your file system some how and not a problem within concoct?

[2017-11-17 14:03] alneberg commented on #171
I agree with @jvollme that this is a good workaround if you have contigs with N:s.

[2017-11-17 14:08] alneberg commented on #129
Same as #150

[2017-11-17 14:08] #129 closed

[2017-11-23 15:39] jonoave commented on #117
Hello,

I´m having the same issue as well. I tried as suggested by @aimirza
´conda install -c nlesc gcc´

but the error remains.

[2017-11-23 16:03] alneberg commented on #117
Hi @jonoave, I think this error is due to the gnu scientific library (gsl) is not installed.

Could you try to install gsl through conda, i.e. using https://anaconda.org/conda-forge/gsl

Otherwise, can you post your error log. Also, if you have sudo privileges, you can try to use the other solution above.

[2017-12-05 13:21] jonoave opened #180 "Errors in concoct tutorial: issue with script?"
Hello,

I installed concoct using anaconda to create a virtual environment, and then using "conda installl concoct". I was going through the concoct tutorial here: https://concoct.readthedocs.io/en/latest/complete_example.html, using the CONCOCT-test-data and encountered 2 errors:

1. Generate coverage table.
Upon running the steps there, I get this error:
[code]

2. Generate linkage table

[code]

[2017-12-05 13:43] alneberg commented on #180
Hello @jonoave,

I need to know slightly more in order to know exactly what's going on. Did you investigate whether the error message in 1 make sense, namely, do you have the same nr of names in samplenames as the number of .bam files? If you do, can you paste the exact command?

For 2 there seems to be some information missing in the error message, can you please paste the full message?

[2017-12-05 14:02] jonoave commented on #180
Hello @alneberg,

Thanks for your quick reply. As I said, I was following the tutorial exactly to get a feel for concoct, and everything was ran on the concoct test data. I'm still quite new to this, so I'm not fully familiar with what one would typically expect from the input/output of each step.

1. For error 1, I have no idea what it really means. I looked at the number of folders in Concoct-te

[2017-12-05 14:16] alneberg commented on #180
Aha, this is probably related to the pull request #179. The format of the samtools sort have been changed since the tutorial was created. The pull request will be incorporated as soon as we release a new version of concoct, but I think it would be faster for you to try to edit the script yourself according to the pull request.

Please come back regarding problem 2 which I think is caused by someth

[2017-12-05 14:32] jonoave commented on #180
Hi @alnerberg,

Thanks for the reply. For problem2, I've updated the original post with the missing line.

[2017-12-05 15:04] alneberg commented on #180
Hmm, yes for problem 2 it seems to be a more sophisticated problem which I don't think I'm able to solve. I think it's related to the installation of the package libcurl used by pysam or possibly even deeper (versions of OpenSSL)

From some googling, this issue seems related:

https://stackoverflow.com/questions/40339325/undefined-symbol-ssl-ctx-set-alpn-protos#40351810

But I can't promise it's t

[2017-12-12 14:58] jonoave commented on #180
Hi @alneberg ,

I've fixed the script markDuplicates.sh for issue 1 and I've also managed to sort out issue 2 (i.e. no error with pysam). But both steps still return the error:
[code]
likely due to the missing .bai files.

So I reran the previous step of the tutorial "Map the Reads onto the Contigs", with the help menu now for java:
[code]

I think this is due to  picard having also changed from t

[2018-01-16 14:57] NielQC opened #181 "No module named vbgmm"
Hi all,

I have installed all the dependencies, included the gsl library. However COCNOCT is not able to run cause it can't find the 'vbgmm' module. I have read all the threads treating this problem, but none solved the problem. The installation command runs smoothly as far as I know. Here is the output of `sudo python ./setup install ` :

running install
running bdist_egg
running egg_info
creatin

[2018-01-16 16:53] alneberg commented on #181
Hmm, I'm not sure what's going on here,

could you try calling concoct from your $PATH instead of the actual file?

What happens if you run

    which concoct

outside of the bin directory?

[2018-01-16 17:00] NielQC commented on #181
Well, that was the problem, although I don't fully understand why.
[code]
Calling the `conconct` from $PATH solved the problem.
[code]

[2018-01-16 17:02] alneberg commented on #181
Great!

I think it's something with how python locates it's internal modules.

I'll close this issue now.
Cheers,
Johannes

[2018-01-16 17:02] #181 closed

[2018-01-17 12:13] rotoscan opened #182 "How can I obtain the fasta sequence from the final bins?"
I was able to run the concoct software and I have a lot of output. I was even able to plot the pdf visualization file for the generated bins. I would like, however, to obtain the fasta sequence for each generated bin. How can I do it?

My outputs are:
args.txt
pca_variances_gt1000_dim10.csv
pca_variances_gt1000_dim19.csv
pca_variances_gt1000_dim9.csv  r8.csv                      variances_gt1000_d

[2018-01-17 12:26] alneberg commented on #182
Hello!

You can extract all bins as fasta with the script:
https://github.com/BinPro/CONCOCT/blob/master/scripts/extract_fasta_bins.py

However the contigs will still be cutup so you might want to consider merging the binning for these contigs first. If you think a majority vote system is good, you can use our script for that here https://github.com/EnvGen/toolbox/blob/master/scripts/concoct/merge

[2018-02-15 21:12] aimirza opened #183 "Mailing list located at: concoct-support@lists.sourcefourge.net does not work"
I tried sending a message to concoct-support@lists.sourcefourge.net but the message is not delivering. Who can we email to address our problems using CONCOCT?

[2018-02-23 00:24] aimirza opened #184 "Issue with "concoct --coverage_file""
Dear CONCOCT crew,

concoct --coverage_file has been running for weeks and the file clustering_gt1000.csv was never created. Only the following files were created: original_data_gt1000.csv,  PCA_components_data_gt1000.csv, PCA_transformed_data_gt1000.csv, log.txt, and args.txt. I have 22 seawater metagenomic samples. I have been following the Supplementary materials from Quince et al. Metagenome a

[2018-03-01 04:12] kengcher opened #185 "clustering_gt1000.csv contigs suffixed with .0, .1, ..."
I assembled the contigs using megahit and then binned them using concoct, however i see that there are entries in the clustering_gt1000.csv that correspond to the actual_contig_name k141_4933 suffixed with .0, .1, .2? What do they mean as there are no contigs with those suffixes in the contigs file.

k141_4933.0 | 4
k141_4933.1 | 4
k141_4933.2 | 14

Thank you.

[2018-03-16 11:51] Shirley-Q opened #186 "issues about concoct"
I do this command：concoct -c 40 --coverage_file concoct-input/concoct_inputtableR.tsv --composition_file contigs/velvet_71_c10K.fa -b concoct-output/
Then I have something error：
![screenshot from 2018-03-16 19_28_08](https://user-images.githubusercontent.com/30583482/37519198-305e4fc0-2953-11e8-9b1b-8596117d63fa.png)
And I can not deal with it,I need you  help,thanks!

[2018-03-16 12:47] alneberg commented on #186
Hi @qiaoxuejiao,

most likely, something is wrong with your coverage file. Check that it looks correct and ensure that it has tab separated columns. If you find no error, I will have to look into this error more closely, preferably using input files where you can replicate the problem.

Best Wishes,
Johannes

[2018-03-17 02:04] qiaoxuejiao commented on #186
Hi @alneberg,
I can not find error, Could you help me look into this error more closely, thanks!

[sample1_L1_concoct_inputtableR.pdf](https://github.com/BinPro/CONCOCT/files/1821159/sample1_L1_concoct_inputtableR.pdf)

Best wishes,
Xuejiao

[2018-03-18 15:48] alneberg commented on #186
Woah! A thousand pages pdf! I think the problem could be that the contig ids are digits only. We've had this issue before, could you try adding for example "contig_" before all contig ids.

Hope this will work.
Johannes

[2018-03-19 09:17] rotoscan opened #187 "Concoct run doesn't end?"
Hello,

I've been using CONCOCT for a while now and I have encountered some problem dealing with some data. The last step (~/CONCOCT-0.4.0/bin/concoct -c <i1>  --coverage_file  <i2> --composition_file <i3> -b <i4> -o # such that, from i1 to i4, are the inputs for the command).

I have tried to run CONCOCT a few times and it simply runs many days. I realized I wasn't giving any input on the -c para

[2018-03-20 05:37] qiaoxuejiao commented on #186
I adding for example "contig_" before all contig ids following your instructions, but I have same error.
now I do whole process, and I have another error. I need your help.
![error](https://user-images.githubusercontent.com/30583482/37637650-d5e4f190-2c43-11e8-95ff-31ac9cd4f836.png)

[2018-03-21 13:33] qiaoxuejiao commented on #186
Hi,
I want to know where are bins.
This is my content of concoct-output file:
![error](https://user-images.githubusercontent.com/30583482/37712659-7e5c353e-2d4f-11e8-9ae9-b21a59fcd712.png)
Thanks very much!

[2018-03-22 17:57] nafeesatk opened #188 "cut_up_fasta.py error"
When trying to use the cut_up_fasta.py script with my data or the example data (using the same parameters outlined in the example), it results in the same error:

  File "/home/nk/Applications/CONCOCT-0.4.0/scripts/cut_up_fasta.py", line 14
    print ">%s.%i\n%s" % (record.id, i, split_seq)
                     ^
SyntaxError: invalid syntax

The new file generated as a result is blank. How should

[2018-03-22 18:55] alneberg commented on #188
Hello @nafeesatk,

this looks like a python 3 vs python 2 problem. From the error message I'm assuming you're using python version 3.x, could you try running the script with python version 2?

Best wishes,
Johannes

[2018-03-22 19:00] alneberg commented on #187
Hello @msbufz,

yes I'm afraid long run times for concoct version 0.4.0 is expected if you have a reasonably large input data set. If you have access to a large number of cpu:s on your computer/server I would recommend you to try to install the version available in the SpeedUp_Mp branch. It is not an official version yet and lack in documentation, but it has been tested and the results are compara

[2018-03-22 19:07] alneberg commented on #186
Hi again @qiaoxuejiao,

the ClusterPlot.R issue is a know issue which is fixed in the latest online version of the script:
https://github.com/BinPro/CONCOCT/blob/master/scripts/ClusterPlot.R

Your clustering results are available in the clustering_gt1000.csv file.

In order to get the clusters in fasta format you can use the script:

https://github.com/BinPro/CONCOCT/blob/master/scripts/extract_fa

[2018-03-22 22:16] aimirza commented on #187
I have the same problem except that my job runs for weeks. I posted a similar issue about a month ago, still waiting for the response: https://github.com/BinPro/CONCOCT/issues/184

[2018-03-23 05:11] qiaoxuejiao commented on #186
Hi,
When I python merge_cutup_clustering.py, it have something wrong.
Are there something wrong about my usage?
![screenshot from 2018-03-23 12_56_28](https://user-images.githubusercontent.com/30583482/37812464-21c0cc3e-2e9b-11e8-95f0-8a4fe19f6fe4.png)
Thank you very much！

[2018-03-23 14:07] alneberg commented on #186
Yes you should run that script on the clustering file and not the original fasta file.

Johannes

[2018-03-23 14:11] alneberg commented on #187
Hi @aimirza, sorry for not replying to your issue sooner. The same answer goes for you as above. The old version of concoct starts off running with 10 threads and each thread terminates when the clustering is finished. Can you check how many threads you still have running with for example 'htop'?

Johannes

[2018-03-31 07:42] luhugerth opened #189 "Instalation issue"
I think this is related to this issue: https://sourceforge.net/p/concoct/mailman/message/32866851/

I didn't get any errors when creating the env, installing the libraries or running setup.py. However:

So I do what the message tells me:

But still get the same error as before:

Any ideas??

[2018-04-01 05:36] campy1113 opened #190 "Bug with RPSBLAST.sh"
$RPSBLAST.sh -f final_contigs_gt1000_c10K.faa -p -c 4 -r 1
[rpsblast] ERROR: Arguments must start with '-' (the offending argument #2 was: '6 qseqid sseqid evalue pident score qstart qend sstart send length slen')
[rpsblast] ERROR: Arguments must start with '-' (the offending argument #2 was: '6 qseqid sseqid evalue pident score qstart qend sstart send length slen')
[rpsblast] ERROR: Arguments mus

[2018-04-01 10:16] alneberg commented on #189
Hello,

I think you're mixing up the concoct installation with the pandas installation, the first error message "setup.py build_ext --inplace --force' to build the C extensions first." is output from pandas so installing concoct with those parameters would not make a difference. The problem seems to be with the pandas installation. Could you try to reinstall pandas using conda?

[2018-04-01 12:35] luhugerth commented on #189
Tried it, same thing. Tried creating a new env from scratch and repeating the operation, same thing. Could it depend on the version of either pandas or one of its dependencies? Are there versions you recommend?

No need to answer during the holidays ;)

[2018-04-01 16:41] alneberg commented on #189
Could it be related to this:

https://stackoverflow.com/a/39342730

Do you get the same error by just running

    import pandas

in a python session? That would verify that this is a pandas installation issue.

[2018-04-02 14:45] campy1113 commented on #190
fix, need to change rpsblast to rpsblast+ in the script

[2018-04-03 05:59] alneberg commented on #190
Hello @campy1113,

great that you fixed the issue and fantastic that you let us know. However, if you're aiming to use rpsblast in order to estimate completeness and contamination levels of you're bins, I would highly recommend the CHECKM software for that instead of our SCG scripts.

Best Wishes,
Johannes

[2018-04-05 19:44] #188 closed

[2018-04-11 08:33] qiaoxuejiao commented on #186
Hi @alneberg,
I want to determine the most suitable number of genomes. What should I do?

[2018-04-11 08:47] alneberg commented on #186
In most cases you're fine running with the default parameter '-c 400'. If you have both highly diverse samples AND very deeply sequenced samples, you could increase this number.

[2018-04-12 08:06] JuanmaMedina commented on #180
Hello all!

I came out with the same problem as described in issue2. It seems to be a problem of an older version of openssl.

For what is worth, I managed to solve this issue 2 by upgrading openssl1.0.1 to openssl1.0.2, for example with:
``conda update --all``

I am sorry for not being able to help with issue1, I am currently adapting the test dataset to a single sample.

Thanks for the feedback

[2018-04-12 09:54] alneberg commented on #180
Sorry for the delay @jonoave. I agree completely with your understanding of the problem, however, this script is only used for this tutorial and therefore it has not been updated in quite some time. The main point with this script is to create .bam files that can be consumed with the input table script. Quite often, I'd say you can use bam files produced by samtools sort directly and skip MarkDupl

[2018-05-01 08:49] Shirley-Q opened #191 "issue about clustering_gt1000_l.csv"
Hi，
Now I get clustering_gt1000_l.csv. How can I get bins?
Thanks!

[2018-06-12 09:36] franciscozorrilla opened #192 "Using cut_up_fasta.py results in output file with many small nodes"
When I run the provided code:

cd $CONCOCT_EXAMPLE
python $CONCOCT/scripts/cut_up_fasta.py -c 10000 -o 0 -m contigs/velvet_71.fa > contigs/velvet_71_c10K.fa

I obtain the file velvet_71_c10k.fa, but it contains some very small nodes:

GCCGACAGGCAAAACATCCATTTCTTTTTCATCTTATTTAAATTGGGTTTATAATCCATCGCTTTATTATTTATAGAGTATCCGCACATTTTCGCTGTTGCACCATATCCGGGGAGTCTGCCCTTTTTTCAGCCAAATCTCTTCCAACTTGGGATTACCCATAAA

[2018-06-12 10:29] franciscozorrilla opened #193 "Questions about Validate.pl output and Cluster plot"
When I run the Validate.pl as shown in the readthedocs example, I obtain the following output:

N        M        TL                  S     K     Rec.              Prec.              NMI               Rand               AdjRand
683     11      9.1490e+04    1     5     0.707116     1.000000        0.000000        0.585789        0.000000

Instead of the expected:

N       M        TL

[2018-06-12 12:20] alneberg commented on #192
Hi @franciscozorrilla,

the cut_up_fasta.py script does not filter away any short contigs, and it does certainly not merge any short contigs into longer ones. It only cuts up the long ones (> 20Kb) into pieces of 10Kb + 1 piece 10-20Kb. The short ones you see are the same as are output from the velvet assembly and I think it is perfectly fine.

[2018-06-12 12:20] #192 closed

[2018-06-12 12:31] alneberg commented on #193
Hi @franciscozorrilla,

just to be clear, the clustering run you are trying to calculate the stats for is the same data as in the tutorial, am I right?

According to the stats you only have 11 contigs with a species label and only 1 unique such species label. It could be an error due to file parsing for example.

Can you please double check the command for running Validate.pl?

Regarding the clust

[2018-06-13 17:58] seasyhuang commented on #161
Exporting the MRKDUP variable like @alneberg suggested didn't work for me.

[2018-06-14 13:06] franciscozorrilla commented on #192
Hi @alneberg, thank you for your quick response.

Ah I understand now.
I think it was this sentence from the readthedocs page that made me confused about the presence of small chunks:
"The final chunk is appended to the one before it if it is < 10 Kb to prevent generating small contigs".
But now I see that small chunks will only be appended if they belong to the same contig!
Thanks again.

[2018-06-14 14:05] franciscozorrilla commented on #193
Hey @alneberg, thanks for responding!

Yes, I am following the tutorial and using the data in the folder CONCOCT-test-data-0.3.2/reads

The following is my command for running Validate.pl:

{config[paths][CONCOCT]}/scripts/Validate.pl --cfile=concoct-output/clustering_gt1000.csv --sfile=evaluation-output/clustering_gt1000_s.csv --ofile=evaluation-output/clustering_gt1000_conf.csv --ffile=contigs/v

[2018-06-14 14:31] alneberg commented on #193
Hi @franciscozorrilla,

did you rerun the assembly as well? In that case, the file evaluation-output/clustering_gt1000_s.csv might not have the same contig labels as yours and thereby causing the problems with Validate.pl

Yes it is very likely that versions of bowtie and markduplicates are not identical and thus the results might differ. As confusing this might be, I don't think it is a problem f

[2018-06-14 16:19] seasyhuang commented on #161
In my ~/.bashrc, I set:
`export MRKDUP="/home/seasy/picard-2.18.6/picard.jar MarkDuplicates"`

But when I run the script, I get this at every iteration:
`/home/seasy/scratch/CONCOCT-0.4.0/scripts/map-bowtie2-markduplicates.sh: line 97: [: /home/seasy/picard-2.18.6/picard.jar: binary operator expected`

[2018-06-29 05:12] johanneswerner opened #194 "Example of concoct workflow"
I was following the [workflow](https://concoct.readthedocs.io/en/latest/complete_example.html#map-the-reads-onto-the-contigs) to run concoct on one of my samples but I faced problems when mapping the reads back to the contigs, more precisely here:

I installed concoct and picard via conda.

[code]
Picard is now available in version 2.18.7 and has no script MarkDuplicates.jar anymore.

Can you help

[2018-06-29 06:14] johanneswerner commented on #194
Just saw, that this is a duplicate of this [comment](https://github.com/BinPro/CONCOCT/issues/180#issuecomment-380745917) in issue #180.

[2018-07-10 11:43] franciscozorrilla commented on #193
Hi @alneberg, sorry for the late response!

I did in fact run the assembly myself, thank you for the explanation.
Also thank you for the suggestions, I will check out those tools!

Kind regards,
Francisco

[2018-07-31 14:40] zahidrehman opened #195 "CONCOCT bins are not complete and contaminated"
Dear Alneberg, I have only two samples (biofilm) and using anvio metagenomic workflow for analyses. In the end, I got some 28 bins but only one bin(bin_5) has completion of 93.5%. Rest of all the bins have completion less than 10%, even though they are bigger in size (5Mbp)( e.g Bin_1, Bin_2). Do you think small sample number is causing an issue with binning?  I have attached a screenshot of anvio

[2018-08-09 08:57] alneberg commented on #195
Dear Zahid,

yes I think two samples are usually too few to get a good binning performance with concoct. If you know any similar datasets I would try to include those for quantification.

Another possibility is that there are eukaryotic or viral bins, which would not be detected as complete or contaminated by the regular prokaryotic single copy gene sets.

Good luck!

[2018-08-09 08:57] #195 closed

[2018-08-09 08:59] alneberg opened #196 "Output most of the old output files"
I think the responsibilities file and some others were useful, so it would be useful to look into having these output from the new version as well.

[2018-08-09 09:02] alneberg opened #197 "Should work on python 3"
This is really overdue. Could be as easy as just merging PR #170.

[2018-08-09 09:06] alneberg opened #198 "Maintain the tutorial"
The bam mapping step is really old and seems to cause several issues. Perhaps change to just using mapping with some regular mapping and skip the markduplicates step.

[2018-08-09 09:08] #193 closed

[2018-08-09 09:08] alneberg opened #199 "Extract bins as fasta from the main tool"
Run the concoct tool on the output directory instead of the extra script.

[2018-08-10 15:08] alneberg opened #200 "Add tests for gzipped input fasta"

[2018-08-13 06:47] alneberg opened #202 "Numpy/pandas warnings: RuntimeWarning: numpy.dtype size changed"
RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. . Expected 96, got 88

[2018-08-22 16:07] alneberg commented on #128
Have a look at https://github.com/brentp/mosdepth

When parsing counts directly (that is from Kallisto or Salmon), manual cut-up should be recommended.

[2018-08-22 16:11] alneberg opened #203 "Improvements to the gen_input script"
Either run mosdepth, samtools idxstats or handle counts directly from kallisto/faidxstats.

[2018-09-04 11:10] s4251484 commented on #180
Hi Johannes @alneberg

First of all, thanks for this amazing tool!
I'm practising CONCOCT via docker using the test data and I encounter the same samtool problem (no bam file is generated). I'm totally new to this and have no idea how to fix the script markduplicate.sh, I can't figure out how to can make changes to the script which is in the docker container/image.

Any suggestions?

[2018-09-04 11:14] alneberg commented on #180
Hi @s4251484, I'm afraid the development of CONCOCT is lagging to say the least. There has been proposed changes to the markduplicate script as you can see here:

https://github.com/BinPro/CONCOCT/pull/179/files

Hopefully those changes should be easy enough to understand. I haven't tested them yet though.

[2018-09-07 08:54] gelomerase opened #204 "Extracting bins returns an error (KeyError)"
Hi,

I've been trying to extract binned contigs using the `extract_fasta_bins.py` script but I get the following error:
[code]

For reference, my clustering file is formatted as:
[code]

I have no idea what I'm doing wrong so any help would be appreciated.

[2018-09-07 08:56] alneberg commented on #204
Hello!

From a quick glance, it seems the contig 'k127_129658' can't be located within your fasta file. Is it the same you used as input to concoct? For further debugging, could you post your exact command for the script?

[2018-09-10 11:40] franciscozorrilla opened #205 "Question about parameter used in complete example"
Im not sure if this is the best place to leave this question, but here it goes.

On the readthedocs complete example page you guys use a hash length of 71 when running the velveth step.
I was wondering how you decided to use this value? and if you would recommend to tweak it based on different data sets being examined?

Thanks,
Francisco

[2018-09-10 13:17] alneberg commented on #205
Hi @franciscozorrilla,

this specific question is probably only suitable to @inodb. But I guess it's just to allow slightly longer kmers than the standard velvet.

However, we do not recommend using velvet in a real setting. We recommend using [megahit](https://github.com/voutcn/megahit) which is a much more modern metagenomics assembler. Sorry for not keeping the tutorial up to date.

[2018-09-12 15:38] franciscozorrilla commented on #205
Hey @alneberg @inodb

Thanks for your response! Yes my PI actually suggested the same thing a while ago but I must have forgotten to implement the change in my pipeline. Cheers!

[2018-09-12 15:38] #205 closed

[2018-09-14 14:08] alneberg opened #208 "Enable proper pip install"
A nice and simple one liner:
[code]

[2018-09-24 10:11] jfrank87 opened #209 "Format of cluster file with linkage information"
Dear developers,

After hierarchical clustering of the clusters based on linkage information, I obtain a 4 column file similar to the test data deposited here: [clustering_gt_1000_l.csv](https://github.com/BinPro/CONCOCT-test-data/blob/master/concoct-output/clustering_gt1000_l.csv)

However, for some reason, I am not able to extract fasta bins using this file. I've opened an issue about this a whi

[2018-09-25 11:48] franciscozorrilla commented on #198
Really looking forward to these upcoming changes, any idea when they will be implemented?

[2018-09-25 12:22] franciscozorrilla opened #210 "Question about Validation using single-copy core genes"
Hi,

It is not clear to me where the COGSDB_DIR path should be pointing to, in the tutorial it says its pointing to /proj/b2010008/nobackup/database/cog_le/, but there is no mention as to what is in that location.
 Could you clarify this for me?

Also, I was wondering if it is appropriate to use the files scg_cogs_min0.97_max1.03_unique_genera.txt and cdd_to_cog.tsv when running CONCOCT for a real

[2018-09-25 12:27] alneberg commented on #210
Hi @franciscozorrilla,

As you have already noticed in #198, the tutorial is not very well maintained ;). I would actually not use the cog evaluation at all. We currently recommend using CheckM or possibly anvi'o for evaluation of the clusters. But CheckM is really simple to use and is of higher quality than our COG-based SCG analysis is.

But to answer your question, that directory would contain

[2018-09-25 12:29] alneberg commented on #198
Thanks for the support, @franciscozorrilla!

I can't really give a time estimate of this since I am working on it only a few hours per week due to other work duties... :(

[2018-09-25 12:48] franciscozorrilla commented on #198
No problem! I understand.
Also, I wanted to ask why the linkage stuff will be removed in the future?

[2018-09-25 16:40] alneberg commented on #198
I've actually haven't been using it. But I guess @chrisquince is better to answer if they are using it? Our experience was that it only marginally (if at all) improved the clustering for real data. But that could be due to the data we typically have as well.

[2018-09-26 13:38] franciscozorrilla commented on #210
@alneberg thanks again for the helpful information!

[2018-09-27 08:35] zahidrehman opened #211 "High read abundance but no bins"
Dear, I have metagenome assembly of two samples that I am trying to bin. Although I have a high abundance of Proteobacterial reads, after binning I don't get any Proteobacterial bin. What could be the possible reasons? Coverage should not be an issue; since I have high read abundance. I don't expect too much strain variation since these are biofilm samples. I know CONCOCT struggles with binning if

[2018-09-29 10:05] zahidrehman commented on #211
Dear Andres,
I made the assembly with two samples (which were actually duplicates of one sample) sequenced by Illumina HiSeq 4000. In total, I had 10 samples but the assembler (metaSpades) failed to make a single assembly for all samples. So I had to assemble individual samples (duplicates). I was reading that the efficiency of CONCOCT decreases below 50 samples. Usually, in metagenomics one don't

[2018-09-29 21:39] armish opened #212 "Confirm that use of BLAST's `-max_target_seqs` is intentional"
Hi there,

This is a semi-automated message from a fellow bioinformatician. Through a GitHub search, I found that the following source files make use of BLAST's `-max_target_seqs` parameter:

- [scripts/RPSBLAST.sh](https://github.com/BinPro/CONCOCT/blob/38d2d86944c977c8dbdaea35d75544ccb6ca0183/scripts/RPSBLAST.sh)

Based on the recently published report, [Misunderstood parameter of NCBI BLAST imp

[2018-10-06 12:06] defleury opened #213 "scikit-learn dependencies in devel branch"
I've cloned the devel branch like so:

[code]

Installation runs fine, but when trying to run `concoct` I realised that my `scikit-learn` version may be too new (`0.20.0`). I got this error:

[code]

I am not a Pythonian, but a quick online search told me that method `GMM` was deprecated in favour of `GaussianMixture` during the move from scikit-learn `0.17` to `0.18`:

http://scikit-learn.org/0.1

[2018-10-10 10:11] franciscozorrilla opened #214 "concoct_inputtable.tsv"

[2018-10-11 11:05] alneberg commented on #214
Hi @franciscozorrilla,
My first instict is that there might be something going wrong in the mapping.
Have you verified that the mapping actually worked? Perhaps by inspecting some of the .bam files. I am afraid I have trouble reading the command you're using for mapping in your snakefile.

[2018-10-11 11:17] alneberg commented on #213
Hi @defleury,

thank you for this very clear report! I think you are completely right. I think however this is adjusted in the devel branch: https://github.com/BinPro/CONCOCT/commit/8cda4103de38a74db5827c1562cef9924b906f9b

The changes made in SpeedUp_MP should now be included in the devel branch so that is the recommended one to use until we have created a new release with these changes included.

[2018-10-11 11:17] #213 closed

[2018-10-11 15:19] alneberg commented on #202
I think this has to do with a mismatch of numpy version installed compared to the version of numpy used by pandas when compiling. It started showing up due to the switch from conda (which keeps exact track of dependencies) to pip (which is instead much faster for installation). From what I read (need to look into this further) it seems safe to ignore.

[2018-10-12 08:44] franciscozorrilla commented on #214
Hey @alneberg, thanks for your response.

Turns out I had a simple typo in my megahit rule. And yeah my bad the shell commands are pretty illegible without the config file. I've updated my original post code to include this.

My coverage table is no longer empty, but I do still end up with an assembly file with way more (short) contigs when I use megahit vs when I use velvet. Any idea why this is

[2018-10-12 08:56] alneberg commented on #214
Ah great that the input file problem was resolved. I am afraid I haven't tried Velvet in a really long time and I am not really in a position to decide that for you. My belief was that megahit was able to manage a lot larger dataset with a smaller memory footprint. Also did you check whether the amount of bases in long contigs changed between the two? Since CONCOCT ignores contigs shorter than 100

[2018-10-12 13:54] alneberg opened #216 "Depreciated pandas method .ix"
Recommended to use loc instead

[2018-10-17 07:53] dayuzou opened #217 "Error with extract_fasta_bins.py"
Hi,
I have been trying to use the extract_fasta_bins.py script to get bins, but get into some troubles.
My command is:
`$ python extract_fasta_bins.py ../scaffold.fa bin1_clustering_gt1000.csv --output_path ./bin`
And the error is:

[code]

The clustering file:

[code]
I have checked the clustering file and my scaffold.fa file and the contig_id was same in two files, so I am not sure where went wr

[2018-10-17 07:58] alneberg commented on #217
Hi @dayuzou, I think the issue is the first line in your clustering file. Just remove that single line and try if that solves it.

However, I'm curious why this line ended up in there in the first place, is this a problem at a different step of concoct?

Thanks!

[2018-10-17 08:09] dayuzou commented on #217
Hi @alneberg , thank you for your suggestion and it worked :).
FYI, the log file did not show any errors when concoct finished, and here is my commond of running concoct:
`$ nohup concoct --coverage_file ../Depth.txt --composition_file ../scaffold.fa -l 1000 -b bin1 --no_original_data -t 32 &`

Thanks!

[2018-10-17 08:10] alneberg commented on #217
Thats great!

Aha, your command looks fine, so I have to look into why this happened.

[2018-10-18 12:10] alneberg opened #218 "Support gzipped input fasta and table"
This is also long overdue.

[2018-10-26 10:36] alneberg commented on #197
This is fixed by #215

[2018-11-22 10:46] alneberg opened #219 "Avoid cutting up contigs"
It would be much easier if the user could supply the real contigs as output from the assembler instead of the cut-up ones. One idea would be to use a variation estimate of the coverage to internally sample sub-contigs from longer contigs. I think for example the script `jgi_summarize_bam_contig_depths` used by metabat gives the variance of coverage as well.

This is related to https://github.com/b

[2018-11-22 10:46] alneberg commented on #219
What do you think about the sub-sampling idea @chrisquince?

[2018-12-04 08:21] kodragonP opened #221 "how to install SpeedUp_MP branch?"
Hi,
I want to install the SpeedUp_MP branch of concoct, I followed the workflow in https://stackoverflow.com/questions/53057000/how-to-change-git-checkout-to-original. No error was reported after the "setup.py install" step. However, when I tried to run concoct, I get the error as follow:
Traceback (most recent call last):
  File "/home/gene/wanglong/miniconda2/bin/concoct", line 4, in <module>

[2018-12-04 09:03] kodragonP commented on #221
Thank you for your reply! My system is CentOS 6.7, and OpenMP is OK (version201511).

[2018-12-04 12:02] chrisquince commented on #219
Sorry for being slow responding to this. To incorporate coverage variation into the underlying CONCOCT algorithm would be possible but a bit of a work. We would need to change the GMM.

[2018-12-04 12:05] alneberg commented on #219
Thank you Chris! Would it have to be changed in the GMM though? I was thinking on a more preprocessing level where smaller contigs could be sampled from the larger one.

I'm close to finish a script that generates a coverage table for cutup contigs using bam files created using non-cutup contigs. That would make life easier when regular mappers are used. When e.g. Kallisto is used, the idea discus

[2018-12-04 12:10] chrisquince commented on #219
Yes you could easily create pseudo-contigs from real ones using a mean and a variance. You might want to think about what distribution to sample from but a Gaussian would be an obvious starting point. How about about we do this in the next release though?

[2018-12-04 14:00] alneberg commented on #219
Yes, I think the subsampling can be put on ice for now. I just realised that you don't get any variance information from Kallisto so the use case for this is diminishing.

[2018-12-05 12:33] alneberg commented on #211
Hi again @zahidrehman,
sorry for the very late reply. Did you already manage to get around this issue? Did you use all 10 samples in the coverage table? That would be recommended.

Best,
Johannes

[2018-12-05 12:34] #204 closed

[2018-12-12 15:11] franciscozorrilla opened #224 "Question about running concoct: Large co-assembly vs multiple sample-based assemblies"
Hello, its me again with more questions!

I am wondering if it is possible to run concoct on each individual sample, instead of running concoct on the entire assembly? My research question is aimed more towards knowing what species are in what sample, rather than in the entire dataset. Would this be a feasible approach, or does concoct **need** to run on the assembly of the entire dataset? If it i

[2018-12-12 15:22] alneberg commented on #224
Hello @franciscozorrilla,

this is an excellent question. CONCOCT can handle both scenarios but there are pros and cons with both methods. For each individual sample assembly used with CONCOCT, one has to have coverage values for every other sample. Therefore if you have N samples, you have to run the mapping NxN times and generate NxN number of .bam files. This can become both computationally and

[2018-12-13 00:39] madhubioinfo opened #226 "error running concoct test"
Hi I have installed all the dependencies and trying to run concoct in centos 6 while executing test script it is showing following error
..E................
======================================================================
ERROR: test_gen_input_table.TestCMD.test_with_bamfiles
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/sh

[2018-12-13 08:51] bioinformatist opened #227 "Problem with installation by conda"
Dear, I've noticed that the software came to v1.0.0, and it supports python 3.X now. So I just tried `conda install concoct` and everything looked well durining installation. However, when I tried command `concoct`, it throwed an error:

[code]

It seems like a problem caused by library vbgmm. I try install it by `pip` or `conda`, but both of them say no proper version here. The python version is

[2018-12-13 08:53] alneberg commented on #227
Yes, unfortunately the conda package is still not ready to be merged, you can keep track of the progress here:
https://github.com/bioconda/bioconda-recipes/pull/12600

At least to begin with, macosx will not be supported, so if you are running a mac, you might need to do a specific install still. Please let me know if you need further assistance with that.

[2018-12-13 08:58] bioinformatist commented on #227
Wow, what a quick reply! I'm using x86-64 Linux on HPC (you know, I'm not the one so conda makes things easier), and I'll keep concern with this recipe. Once it finished I would like try again with 3.x python and give you a response. Thanks for attention for this problem~

[2018-12-13 12:44] alneberg commented on #226
Hello @madhubioinfo,

It seems to be some problem when running the script `scripts/gen_input_table.py`. Perhaps you could get a more informative error message if you run:

[code]

[2018-12-13 15:35] alneberg commented on #226
Glad that it worked out, even though I'm not sure I understand what caused your error in the first place?

There are I'm afraid not much documentation on the output files. The clustering file consists of two columns, one with the contig id and the other with the assigned bin id. I'd suggest using the `scripts/extract_fasta_bins.py` to get fasta bins, after using the `merge_cutup_clustering.py` scr

[2018-12-13 15:39] madhubioinfo commented on #226
there are multiple files produced here concoct_out_args.txt               concoct_out_log.txt                   concoct_out_PCA_components_data_gt1000.csv
concoct_out_clustering_gt1000.csv  concoct_out_original_data_gt1000.csv  concoct_out_PCA_transformed_data_gt1000.csv

which one I should be looking into ?

Is it especially designed for bacterial metagenomes? or even the fungal metagenomes can a

[2018-12-13 15:44] alneberg commented on #226
Yes, `concoct_out_clustering_gt1000.csv` contains the clustering so that's the one you want to use into `merge_cutup_clustering.py`.

The other files contain information about the run, the data itself or the PCA transformation done on the data.

CONCOCT should be able to handle other than bacterial genomes. Certainly Archaeal genomes but also small Eukaryotes. Good luck!

[2018-12-13 15:47] madhubioinfo commented on #226
thanks

[2018-12-13 15:47] #226 closed

[2018-12-13 18:39] franciscozorrilla opened #228 "Comment about map-bowtie2-markduplicates.sh line 110"
Hi,

I had a small comment about line 110 of the map-bowtie2-markduplicates.sh script:

` if [ ! -e ${REF}.1.bt2 ] `

I noticed that running this script resulted in the re-creation of the bowtie index, even though it was already created in a previous step. It turns out that for "large" indexes, bowtie creates index files with the extension .bt1l instead of .bt2.

Perhaps this line of code could be

[2018-12-14 08:44] alneberg commented on #228
Good catch! I'm actually thinking about moving away from the map-bowtie2-markduplicates.sh script. But if you still find it useful I should perhaps try to give it a brush up.

In the new version 1.0.0, there is a script called `concoct_coverage_table.py` which will generate the coverage table based on bam files directly. The largest improvement with this script is that it can be used on bam files

[2018-12-14 08:48] alneberg commented on #202
This warning is apparently safe to ignore:
https://github.com/ContinuumIO/anaconda-issues/issues/6678#issuecomment-337276215

I will try to filter away these warnings so that users won't be worried.

[2018-12-14 09:16] alneberg opened #229 "FileNotFoundError: [Errno 2] No such file or directory: 'samtools': 'samtools'"
When installing with conda, the script `concoct_coverage_table.py` generates the error:

`FileNotFoundError: [Errno 2] No such file or directory: 'samtools': 'samtools'`

[2018-12-14 09:16] alneberg commented on #229
This can be resolved by installing samtools:

`conda install samtools`

[2018-12-14 09:30] alneberg commented on #221
Hello @kodragonP, the speedup branch is now merged into master and can be installed by:

`conda install concoct`

This will only work on linux at the moment though.

[2018-12-14 09:30] #221 closed

[2018-12-15 01:38] kodragonP opened #232 "endless OpenBLAS Warning"
I installed concoct using conda, and when I run concoct main progress, endless
"OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option. " would be printed. What happened?

[2018-12-16 06:50] bioinformatist commented on #227
Ahhhhh, thank you!
The software by `conda install` with Linux and py3 works well now.
And it seems samtools is already satisfied up to now~
Concoct is one of best binning softwares 😆

[2018-12-16 06:50] #227 closed

[2018-12-17 07:44] alneberg commented on #232
Hmm, that's not good. I've seen this once before but thought I was able to resolve it. I Was this in a fresh conda environment? What's your system? Linux, Mac?

[2018-12-17 08:02] alneberg commented on #227
Very pleased to hear! Just remember to set the `-t` flag to get the proper performance.

[2018-12-17 08:12] alneberg commented on #229
Fixed with new version on Bioconda.

[2018-12-17 08:12] #229 closed

[2018-12-17 08:19] alneberg commented on #217
I think this error is fixed now since the `extract_fasta_bins.py` script now expects a header in the clustering file.

[2018-12-17 08:19] #217 closed

[2018-12-17 08:25] alneberg opened #233 "By default, use all available threads"
Currently, the default is to use 1 thread. This can lead to unnecessary long execution times by mistake.

[2018-12-17 10:43] #210 closed

[2018-12-17 11:02] bioinformatist opened #234 "Performance of the latest version"
Dear, after install it with `conda`, I prepared my data with example cmds listed as in github README using executable `cut_up_fasta.py` and `concoct_coverage_table.py`. I'm using HPC and I submit a mission by `qsub` with a PBS script as this:
[code]
It seems works well in first several hours, and I get some intermediate/parts of final results:
![image](https://user-images.githubusercontent.com/171

[2018-12-17 12:40] alneberg commented on #234
Thank you for your detailed report! While this new version of concoct is much faster than the old one, for large datasets it will still take a considerable amount of time to run. I don't spot any errors. It is supposed to be in the "Will call vbgmm with parameters..." state for a really long time compare to the other states so that should be fine. Could you somehow see a % of cpus used at a point,

[2018-12-17 13:01] kodragonP commented on #232
Thank you for your reply! I install concoct in a fresh environment, and I run it on CentOS. I tried to rebuild the library with USE_OPENMP=1 option, but it not work. It seems that the software could run and get bins. I tried a very small dataset.
However, the speed is still very slow. I have 856K contigs (8 samples), and the software had ran more than 1200 hours·threads. There was still no evidenc

[2018-12-17 13:09] alneberg commented on #232
Yes I think this error could cause it to go slow and potentially the openmp is not working and thus it is not parallel at all. Maybe you should try to get this error to disappear befor making it run on a production data set?

Could you please give me the output from:

`conda env export`

From when you have activated the conda environment. Thank you!

[2018-12-17 13:11] kodragonP commented on #232
name: concoct
channels:
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/pkgs/main
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/bioconda
  - https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
  - bioconda
  - conda-forge
  - defaults
dependencies:
  - concoct=1.0.0=py27hd1ccf6d_0
  - certifi=2018.11.29=py27_1000
  - llvm-meta=7.0.0=0
  - openmp=7.0.0=h2d50403_0
  - openssl

[2018-12-17 13:53] alneberg commented on #232
I can confirm I get the same error on our cluster with CentOS. You should probably cancel this run since it is likely to be extremely slow due to this error. I will look into why this is happening and come back to you.

[2018-12-17 14:00] kodragonP commented on #232
Waiting for your good news!  ^_^

[2018-12-17 17:09] alneberg commented on #232
Ok, so not so good news. It seems like OpenMP is disabled in the conda available versions of OpenBLAS. I think I got around it by downgrading the openblas to the version before it was disabled. But in order to get it working I think you need to recompile concoct:

`git clone https://github.com/BinPro/CONCOCT.git
cd CONCOCT
conda uninstall concoct
conda install -c conda-forge openblas=0.3.3
python

[2018-12-18 00:52] kodragonP commented on #232
Hi,
I think it's OK now. The standard output was just like this:

10 K contigs only need 45 min.
Thank you!

[2018-12-18 04:28] linsalrob opened #235 "Cut up contigs/merge contigs"
There is an issue with cut up/merge contigs where if there is a contig name like: `>NODE_5283_length_1231_cov_3.000000` when `merge_cutup_clustering.py` tries to parse whether it is a cut up contig or not, using `original_contig_name_special(s)` it gets it wrong. Basically, any contig name where the mantissa < 1000.

[2018-12-18 07:51] #235 closed

[2018-12-18 07:52] alneberg commented on #232
That's a relief. I'll update the bioconda recipe accordingly. Thank you!

[2018-12-18 12:51] #216 closed

[2018-12-19 20:53] franciscozorrilla commented on #228
Hi Johannes,

I do think it is quite a nifty script!
But wouldnt you still need the map-bowtie2-markduplicates.sh script to generate the bam files to feed into concoct_coverage_table.py?
Is this new script similar to get_input_table?

Cheers,
Francisco

[2018-12-19 20:56] franciscozorrilla commented on #224
Hi Johannes,

Could you elaborate a bit on the increasing the base length cut off suggestion? I do not understand this, are you referring to contigs? Is this something I would do in the assembly step or beforehand?

Great! I will try out the new CONCOCT version as soon as the mapping/removing duplicates is finished in my dataset. I have already built my pipeline based on the old example present in

[2018-12-20 07:43] alneberg commented on #234
@bioinformatist, are there any updates to this? I hope you're not seeing the issue reported here: #232. That issue should be fixed in the latest build on conda though.

[2018-12-20 07:56] alneberg commented on #228
You would still need to run a mapping step yes. There are however several ways one can do this but I guess it makes sense to at least support one way for users. The `concoct_coverage_table.py` is indeed similar to the `gen_input_table.py` but it takes sorted .bam files and a bed-file as input instead of the coverage histogram files used by `gen_input_table.py`. I added the basic usage to the READM

[2018-12-20 08:15] alneberg commented on #224
I think you should start by running the latest version of concoct with default parameters and using as many cores as you have available. Remember to set the number of cores as a parameter to concoct as well.

In case this is too slow, you could decrease the data size by not including the shortest contigs into the binning step, for example using:

`--length_threshold 2000`

as a parameter to concoc

[2018-12-20 16:03] franciscozorrilla commented on #224
Hi Johannes,

This is very helpful information, thank you for your comprehensive response!

I just realized I forgot to respond to your question regarding my computational setup: I am using hebbe (which is part of C3SE/SNIC). I have access to nodes with 64, 128, 512, and 1024 GB RAM. Each node has 20 CPU cores, except the 1024 GB RAM node which has 24 CPU cores ( I have been using this one for the

[2018-12-20 16:14] madhubioinfo opened #237 "error extracting clusters"

[2018-12-20 16:22] madhubioinfo commented on #237
I was extracting clusters from bin and this is my command
 /shared/programs/CONCOCT/scripts/extract_fasta_bins.py  1k_filtered.fa concoct_out_clustering_gt1000.csv --output conco_out

I am getting following error
 Traceback (most recent call last):
   File "extract_fasta_bins.py", line 38, in <module>
       main(args)
         File "extract_fasta_bins.py", line 26, in main
             seqs = [al

[2018-12-22 18:02] franciscozorrilla commented on #237
Hi Madhu,

I am not part of the CONCOCT group but I may be able to help. I had not realized that they included a script for extracting node FASTA, so I wrote my own using R. I invite you to take a look at it [here](https://github.com/franciscozorrilla/thesis_pipeline/blob/master/multiFASTA2speciesFASTA.R).
I have not used the CONCOCT script for doing this task, but I imagine it is essentially the

[2018-12-23 13:09] jfrank87 commented on #167
Hi! Unfortunately not. I did not get any support here or through the mailinglist. I also did not try to fix it myself.

[2018-12-24 19:37] franciscozorrilla commented on #228
I see! Thanks again for the info.

I had one more comment to make about this script, but it may not be relevant to you if you are moving away from its usage! Anyways here it goes:

I ran my pipeline on the toy dataset from the old readthedocs complete example, and everything worked fine. Now I am testing my pipeline on a real dataset, as I mentioned in a previous issue. However, the pipeline is er

[2019-01-02 04:05] franciscozorrilla opened #238 "Question about CONCOCT slurm log information and parallelization"
Hello again!

I am wondering what exactly the information in the slurm log file is telling me:

[code]

In particular, I am wondering what the comma-separated list of numbers at the bottom mean? I cant seem to find information about this.

Also, would CONCOCT run faster by increasing the number of OMP threads? I tried this by using the option:

`-t 20`

But this seemed to generate a 245 Gb (and gr

[2019-01-02 07:05] alneberg commented on #238
Hi @franciscozorrilla,

The comma separated numbers show 1. the current iteration, 2. estimates of the model likelihood  and 3. the difference in the likelihood from the previous iteration. All of these numbers can be safely ignored in the normal case.

Aha, if using the default setting is still parallelized, that might work well.

The recommended usage is to set `-t 20` if you have 20 cpus availa

[2019-01-03 13:32] alneberg opened #239 "Arguments not longer used"
The number of iterations given by the user is ignored. So is epsilon. These parameters are rather complex and it might not be necessary to give users access to them. But the current way to handle it is faulty nevertheless.

[2019-01-06 11:16] chrisquince commented on #239
Well this is an easy thing to change as it is all in the python wrapper, let me look at it...

[2019-01-07 10:48] johnne commented on #224
@alneberg, theoretically you wouldn't need to do the full cross-mapping of all samples for each assembly right? The number of bins generated by CONCOCT maxes out at around 40 samples or so if I remember correctly, so you could select 40 samples at random and map those against each individual assembly? That would cut down processing a lot. I guess you'd want samples that cover the diversity of all

[2019-01-07 12:55] alneberg commented on #224
@johnne, that is true. It would be a very cool idea to try out. I guess the number of samples needed is also depending on the nature of the assembly/samples involved. One could perhaps run Metaxa2 or something to try to group samples together initially. It does sound like quite some work to set it up however.

[2019-01-07 13:04] johnne commented on #224
Yes, another option is to run sourmash to get a distance matrix of the samples, then maybe some clustering method like kmeans to cluster samples into pre-specified number of clusters.

[2019-01-10 15:23] franciscozorrilla commented on #238
Hi @alneberg,

Thanks for the tip about the gitter channel, I will use it for posting small questions like these in the future. And sorry for posting about an existing issue! I have followed your instructions from issue #232 to fix the issue, and am now testing using the -t 20 parameter instead of the default settings.
Hopefully this speeds up the process! Will keep you posted.

[2019-01-14 13:49] franciscozorrilla commented on #238
**Update**

CONCOCT job started running just over 2 days ago on a 128GB RAM node with 20 CPUs.

CPU usage over time
![image](https://user-images.githubusercontent.com/35606471/51115918-e35ff600-1809-11e9-8a83-d30fcf3f0206.png)
![image](https://user-images.githubusercontent.com/35606471/51115971-07233c00-180a-11e9-953d-83f67b8c97c1.png)

CPU usage at arbitrary time point (~54hr into job):
![image](

[2019-01-14 13:52] alneberg commented on #238
That does look much better! I would just keep running this one for as long as you are allowed to and hope that it finishes before that. I don't think increasing the RAM makes much difference. Thanks for reporting back!

[2019-01-14 14:02] jvollme commented on #233
Personally, I think this is the only acceptable default. This way, a user that made a mistake or did not read the manual only messes up his or her own calculation time (inconvenient but not destructive) and at least does not mess with everybody else on a public server.

Programs that use all cores by default often create massive problems on public servers, because someone always forgets to set a p

[2019-01-14 14:07] alneberg commented on #233
Hmm, I guess you have a point. But I guess most users are using HPC-clusters where the core usage/access is already managed, don't you think? On an HPC-cluster, users would risk running concoct for a week before realising it has only been using a few percentage of the available cores. That is a scenario I am more worried about.

[2019-01-14 14:13] jvollme commented on #233
Well, I am neither a developer nor a sys-admin. But it seems that the queuing systems on HPC-clusters are not always safe in this regard. In my former Institute there were sometimes problems with people submitting jobs specifying just 1 core, but then taking up multiple cores. The queuing system (at least in the form it was implemented) did not check how many cores were actually used, resulting in

[2019-01-14 14:17] alneberg commented on #233
I see! I guess that would count as a bug in the queuing system though? I would consider your alternative more if concoct would be useful in single-threaded mode, but for realistic input data sizes, one really need to use parallelism. I would feel better if the defaults were at least useful...

[2019-01-14 14:22] jvollme commented on #233
In that case it would perhaps be better not to set a default for that parameter at all (making it a required argument)? That way jobs would immediately fail if users forgot to set the parameter correctly (saving them form long waiting times before they realize their mistake), but would still protect people on servers without or not sufficiently safe job queuing systems...

[2019-01-16 17:42] franciscozorrilla opened #240 "CheckM evaluation of CONCOCT-test-data-0.3.2/"
Merge clustering & extract fasta bins:
[code]

Results in four bins:

![image](https://user-images.githubusercontent.com/35606471/51267127-53fb4400-19bd-11e9-9f3e-8bdbb70acb02.png)

Run CheckM on the cluster:

[code]
Output summary:

[code]
Complete output:

[slurm-3836984.txt](https://github.com/BinPro/CONCOCT/files/2765386/slurm-3836984.txt)

Results show only 2 good bins, perhaps something went

[2019-01-17 11:50] franciscozorrilla commented on #238
The job just finished!
[code]

Should I care about what the 3 numbers after the CONCOCT Finished... line mean? i.e. 1012380 31637 20

Here is the log file as well:

[code]

It took 5 days to finish the job which is not ideal. I did however neglected to do a quality filtering step on my .fastq files at the start of my workflow, so hopefully after I implement this step and run CONCOCT again it will

[2019-01-17 12:35] alneberg commented on #238
Great!

I am actually not able to locate the line printing those last numbers. @chrisquince, could you help me out, please?

@franciscozorrilla, it would be nice to see how many contigs that was above the length threshold. Would you mind running a `wc -l` on the clustering output file `clustering_gt1000.csv`?

[2019-01-17 12:44] franciscozorrilla commented on #238
No problemo

[code]

Is this a reasonable number?

[2019-01-17 12:48] chrisquince commented on #238
Hi @franciscozorrilla, that all looks fine. Those three numbers are unimportant. The important one is the:

927,-91133399.572229,0.000055

The small third value indicates convergence. The other important thing is to compare the number of clusters you obtained:

cut -d"," -f2 clustering_gt1000.csv | sort | uniq -c | wc

against the number you started with (default 400). Ideally you want 50% so smal

[2019-01-17 12:51] alneberg commented on #238
Thank you Chris!

Ah, there we have the first number printed of the three. 1012381 - 1 = 1012380 number of contigs longer than 1kb. That's quite a lot. @chrisquince, would you think it's a reasonable runtime: 5days with 20 cpus and 1M contigs?

Also, I don't think quality filtering the fastq would make concoct go faster. It's still recommended though since you would get higher quality assembly and

[2019-01-17 12:54] chrisquince commented on #238
Yes, I would actually say that is rather fast. Agree about quality filtering.

[2019-01-17 13:05] franciscozorrilla commented on #238
Ok, good to know that this is an expected run time length!

@chrisquince

[code]
I did leave the default value of clusters at 400. Does this mean the results are unreliable?

[2019-01-17 13:09] chrisquince commented on #238
Well, it means that ideally you need to increase the starting cluster number run with:

-c 800

flag set. That will take twice as long though unless you can get more cores. There is another strategy though which will give results that are almost as good which is to refine the clusters. That is explained here but we need some coherent documentation:

https://github.com/chrisquince/StrainMetaSim

se

[2019-01-17 13:33] franciscozorrilla commented on #238
I see, thank you for the explanation! I will look into getting more cores for a future run, for now I will try the `concoct_refine` command.

[2019-01-17 13:36] chrisquince commented on #238
OK that is not well documented, sorry, you need to prepare input with the following commands:

sed '1d' clustering_gt1000.csv > clustering_gt1000_R.csv
cut -f1,3- < clustering_gt1000_scg.tsv | tr "\t" "," > clustering_gt1000_scg.csv
$CONCOCT/scripts/Sort.pl < clustering_gt1000_scg.csv > clustering_gt1000_scg_sort.csv

Assuming you have the scg table?

[2019-01-17 13:50] franciscozorrilla commented on #238
Which file is the scg table and where does it come from? From what I understand this is associated with the COG based evaluation right?

At @alneberg 's suggestion I moved away from the COG based evaluation and am now using CheckM. Is it possible to use the output from CheckM to refine clusters?

[2019-01-17 14:05] chrisquince commented on #238
OK, I will have a go at refining the program to take checkM input, may take a couple of days though

[2019-01-17 14:08] alneberg commented on #238
That would be amazing @chrisquince!

[2019-01-17 14:09] chrisquince commented on #238
Could someone give me some example checkM output from a run with concoct files too?

[2019-01-17 14:42] franciscozorrilla commented on #238
Sure, I opened issue #240 to show the evaluation of CONCOCT-test-data-0.3.2 using CheckM. I will now upload the actual output folder with all the files generated. Thanks!

[2019-01-17 14:42] franciscozorrilla commented on #240
CheckM output data folder:

[CHECKM_OUT.zip](https://github.com/BinPro/CONCOCT/files/2769127/CHECKM_OUT.zip)

[2019-01-17 14:44] franciscozorrilla commented on #240
CONCOCT bins:

[BINS.zip](https://github.com/BinPro/CONCOCT/files/2769146/BINS.zip)

[2019-01-23 18:44] franciscozorrilla commented on #224
Hi @alneberg,

As I mentioned on gitter I am now attempting the individual sample based assembly method using kallisto to generate the concoct input table. I am wondering if this is the expected output of your script (https://github.com/EnvGen/toolbox/blob/master/scripts/kallisto_concoct/input_table.py) :

[kallisto-concoct.txt](https://github.com/BinPro/CONCOCT/files/2788681/kallisto-concoct.txt)

[2019-01-24 08:16] alneberg commented on #224
It looks like the script has only output one coverage column. Did you give it both kallisto abundance files? Like this:

[code]

[2019-01-24 08:47] franciscozorrilla commented on #224
I see, yeah I was only giving one kallisto abundance file. I modified my rule as shown below to give 2 abundance files:

[code]

However, this results in two identical `concoct_inputtableR.tsv`.

I think my error is that I only have 2 kallisto abundance files, where I should have 4?

So I should run kallisto on sample1_R1 and sample1_R2 against kallisto_index_sample1 AS WELL as against kallisto_sa

[2019-01-24 09:06] alneberg commented on #224
Since you use the variable `names` in params to denote *all* samples, and then you use the same variable in the definition for output, you will have one output for each value for `names`. I think you have to have separate variables to denote the sample that has been assembled and the sample which reads you are using to quantitate with. You would want one input table per assembly.

[2019-01-24 12:56] franciscozorrilla commented on #224
Gotcha, ok now I see how lambda wildcards are useful. Still not exactly sure how they work but I followed what you did in `rule kallisto_concoct_inputtable` and it seems to work. Thanks again!

[2019-01-25 15:37] choosehappy opened #241 "Bin 0 not analyzed in Checkm"
This seems related to #240

I know that the developers of CONCOCT have used CheckM in the past to validate their results, so perhaps this is a new bug?

CONCOCT starts labeling BIN at 0 to:

![image](https://user-images.githubusercontent.com/9681868/51755349-bb507c80-20be-11e9-9c73-d6cdb4766090.png)

and produces 29 bins:
[code]

When running checkm, only 28 bins are detected:
![image](https://use

[2019-01-25 15:41] alneberg commented on #241
Thank you @choosehappy, for a very detailed report! Can it be the extract fasta script which is the problem? Could you check whether there is a `0.fa` exported from the concoct results to begin with?

[2019-01-25 15:46] alneberg commented on #241
Sorry, what do you mean, does the concoct script `extract_fasta_bins.py` output the `0.fa` or not?

[2019-01-25 15:47] choosehappy commented on #241
it does not

![image](https://user-images.githubusercontent.com/9681868/51756215-c99f9800-20c0-11e9-9497-55f6be6e1af2.png)

![image](https://user-images.githubusercontent.com/9681868/51756242-d4f2c380-20c0-11e9-93bc-3a53b2327000.png)

[2019-01-25 15:48] alneberg commented on #241
I see, so the problem is with that script, and not with CheckM... I did some recent changes to that script. Which version of it is it that you're using?

[2019-01-25 15:51] choosehappy commented on #241
It looks like the one from October,
id: dd180834025c66002e51a9e31440d588d0e5c183

https://github.com/BinPro/CONCOCT/commit/dd180834025c66002e51a9e31440d588d0e5c183

[2019-01-25 15:52] alneberg commented on #241
Thank you! So the extract script looks like this? https://github.com/BinPro/CONCOCT/blob/dd180834025c66002e51a9e31440d588d0e5c183/scripts/extract_fasta_bins.py

[2019-01-25 15:54] choosehappy commented on #241
you would think so, but in fact it appears to be a bit different.

i can assure you i have no modified it : )

root@5de4c4a2be1f:/opt/CONCOCT/scripts# diff extract_fasta_bins_github.py extract_fasta_bins.py
2a3

24,27c25,32
<         output_file = os.path.join(args.output_path, "{0}.fa".format(cluster_id))
<         seqs = [all_seqs[contig_id] for contig_id in contig_ids]
<         with open(outpu

[2019-01-25 16:01] alneberg commented on #241
Hmm, strange. I cannot find any branch with that version of the file. The history of the main file does not show anything like that. How have you installed concoct? Did you use any non-standard branch?

[2019-01-25 16:04] choosehappy commented on #241
I actually have notes since i've done this in a docker image...

nothing seems out of the ordinary

[code]

maybe i should git pull the latest version and try again?

i probably should have done this originally but (a) wasn't sure if this was a concoct or checkm issue and (b) i'd need to be very careful to not destroy my data reproducibliity

[2019-01-25 16:06] alneberg commented on #241
You could try to run the github version of the `extract_fasta_bins.py` script and see if that makes a difference first?

[2019-01-25 16:47] alneberg commented on #241
Ok, that error is because of a mismatch between the new output format and the old one. The new script assumes there is not a header in the clustering file. So removing the first line of the clustering file should fix that particular error

[2019-01-25 16:48] choosehappy commented on #241
this is going to drive you crazy....but there is no header in my files:

![image](https://user-images.githubusercontent.com/9681868/51759832-682ff700-20c9-11e9-918a-c71ae8cca4d9.png)

[2019-01-25 16:49] choosehappy commented on #241
sorry, mean there isn't one in the "merged" file, but there is in the original file.

i'm only using the merged file

[2019-01-25 16:52] alneberg commented on #241
This is getting more and more exiting actually! Somehow the phrase 'contig_id' is added as a key in the `contig_ids` list...

[2019-01-25 16:56] alneberg commented on #241
I will probably not have time to look at this until monday but could you export your environment with `pip freeze` and share it here with me, please?

Otherwise if you're used to debugging python this is probably not that complicated. Somewhere here https://github.com/BinPro/CONCOCT/blob/c21349bdbe68139e82fa81dc7e14e5e8679a72a3/scripts/extract_fasta_bins.py#L18-L26 the 'contig_id' is introduced.

[2019-01-25 17:02] choosehappy commented on #241
well essentially, it should be pretty straight forward to just extract the 0 fasta on its own and add it to that directory, right?

i assume the current head of this repo doesn't have this issue, so i can upgrade and use it on all further samples without any problems?

I just don't want to have to re-do all downstream analysis for this set, as we've only noticed this discrepancy today and we've be

[2019-01-28 08:00] alneberg commented on #241
I'm afraid this seems to be an issue with the current head of the repo as well, as you just verified when trying the github version of the script? I'm suspecting it might be a difference between python 2 and python 3?

Yes, there is no magic happening in the fasta extraction script. If you're comfortable with programming you can write your own script to extract fasta files based on the clustering

[2019-01-28 08:14] choosehappy commented on #241
sure, see below.

if there is a general solution possible, i'm happy to help debug

[code]

[2019-01-29 11:45] alneberg commented on #241
Oh, that's embarrassing! Thank you for pointing it out! It should be possible to remove any such header. I'll go ahead and close this issue now. Please let me know if you run into further issues.

[2019-01-29 11:45] #241 closed

[2019-01-29 11:48] alneberg opened #242 "Make all scripts agnostic of header line on clustering files"
This includes `merge_cutup_clustering.py` and `extract_fasta_bins.py`. They should work on files with or without headers.

See #241 for reference where this goes wrong...

[2019-02-11 11:30] snurk opened #243 "concoct_refine fails under python3"
After installing of v1.0.0 via conda I'm getting the following error trying to run concoct_refine.

[code]

[2019-02-11 11:44] binnisb commented on #243
You can probably add parentheses at the print statement if you are using
python3.

On Mon, 11 Feb 2019 at 12:30, snurk <notifications@github.com> wrote:

--
Cheers,
Brynjar

[2019-02-11 11:48] alneberg commented on #243
Ah, yes that's a typical python 2 to 3 error which is our fault... Will try to fix this as soon as possible, but will probably take some time to get it into the conda package.

[2019-02-12 10:40] SamLambrechtsUGent commented on #184
Dear aimirza,

Were you able to fix this? I have the same error output.

Best,

Sam

[2019-02-12 10:42] alneberg commented on #184
Hello @SamLambrechtsUGent, this should be much faster with the new version of concoct (v1.0.0). For how long have your run been up?

[2019-02-12 11:01] SamLambrechtsUGent commented on #184
Hello Johannes, thank you for your comment. In the meantime concoct finished successfully. It was the first time I tried concoct, and I was alarmed by the BiopythonDeprecationWarning, thinking that concoct had stopped working and I had to fix my biopython. But this was not the case apparently, concoct was running fine

[2019-02-17 11:05] ucassee opened #244 "running time"
Hi developer,
This is my first time to use concoct to extract bins from my metagenome.  It has been running for more than 24 hours and still doesn't finish. Meanwhile, I use matbet to process the same data. it finished in 2 hours.  I don't find  any argument about thread setting in concoct. So, I wonder whether there are some ways to speed up the progress or I mada some mistakes in the running pro

[2019-02-18 08:18] alneberg commented on #244
Hello @ucassee!

It will most likely be the case that metabat finishes faster than concoct. However there is an argument `-t` which you have to use in order for it to run on more than 1 thread. The latest version of concoct (<1.0.0) allows for high level of parallelisation and should really be ran with as many threads you have.

[2019-02-19 02:33] ucassee commented on #244
Hello @alneberg ！
Thanks for your reply! Maybe I need to upgrade my concoct which has no -t augments in it.

[2019-02-21 10:54] ucassee commented on #244
Hello @alneberg ,
      I have trouble to run concoct now.  The ERROR is following. I don't know how to deal with it.
      Hope to your reply~
`/data2017/share/tools/miniconda3/envs/metawrap-env/lib/python2.7/site-packages/Bio/Seq.py:345: BiopythonDeprecationWarning: This method is obsolete; please use str(my_seq) instead of my_seq.tostring().
  BiopythonDeprecationWarning)

/data2017/share/tools

[2019-02-21 15:07] ucassee opened #245 "error with concoct （1.0.0）"
Hello developer,
      I install the the latest version of concoct(1.0.0), but there is an error to use it.
Best  regards
Traceback (most recent call last):
  File "/data2017/share/tools/miniconda3/envs/concoct_env/bin/concoct", line 4, in <module>
    __import__('pkg_resources').run_script('concoct==1.0.0', 'concoct')
  File "/data2017/share/tools/miniconda3/envs/concoct_env/lib/python3.5/site-pa

[2019-02-21 15:12] alneberg commented on #245
That's weird. Did you install this using conda? It seems it is missing a `gsl` dependency. Can you specify the command you used and what packages that the conda environment include after the installation? Thanks!

[2019-02-21 15:14] alneberg commented on #244
This looks like it's some kind of problem with the input file. I can see that you've since tried to install the latest version of concoct. Would it be ok if I only attend the debugging of the latest version?

Thanks

[2019-02-21 15:32] ucassee commented on #245
Hello @alneberg ,
      I just use `concoct -v`  to check the newly installed concoct. I install it using Anaconda follow the tutorial  on your website.

[2019-02-21 15:38] alneberg commented on #245
Weird. Could you list the packages installed in your conda environment as listed by `conda list`? If that doesn't show anything strange I will attempt to reproduce this error.

[2019-02-21 16:15] ucassee commented on #245
Hello @alneberg ,
       The  followings are packages installed in conda environment:
# packages in environment at /data2017/share/tools/miniconda3:
#
# Name                    Version                   Build  Channel
asn1crypto                0.24.0                   py36_0
ca-certificates           2018.03.07                    0
certifi                   2018.8.24                py36_1
cffi

[2019-02-21 16:42] ucassee commented on #244
YES， I can run concoct (0.4.0) with other data . But this data is also important for me and it can by analysis by metabat and maxbin. So, could you please give me some advice to check what's wrong with it with running concoct?
Thanks

[2019-02-21 18:50] ursky commented on #232
I am unfortunately getting the same issue (repeating OpenBLAS Warning) in the metaWRAP conda environment:
[code]

Please advise.

[2019-02-21 18:52] ursky commented on #232
I should also mention that I see this behavior ONLY when I use more than one thread.

[2019-02-22 07:25] alneberg commented on #245
That doesn't look like the concoct environment. You will have to have the environment activated when running the command. Sorry for being unclear.

[2019-02-22 07:35] alneberg commented on #232
I'm not exactly sure what package that is triggering this error. You seem to have the correct version of `openblas` as specified in the conda recipe. I will check if this error still persists in the latest version of openblas. Does this occur if you install concoct in an isolated environment as well?

[2019-02-22 08:34] ucassee commented on #245
Hi @alneberg
# packages in environment at /data2017/share/tools/miniconda3/envs/concoct_env:
#
# Name                    Version                   Build  Channel
biopython                 1.68                     py35_0    bioconda
blas                      1.1                    openblas    conda-forge
bzip2                     1.0.6             h14c3975_1002    conda-forge
ca-certificates

[2019-02-22 08:42] alneberg commented on #245
Ah, sorry. I now realise that the installation documentation is really lacking. This specific issue was solved in the conda recipe to install concoct *from conda*:

`conda create -n concoct_env python=3 concoct`

But using the commands present in the documentation will result in this error as you have discovered. Could you try and reinstall concoct with the above command? I will make an effort to

[2019-02-22 10:53] ucassee commented on #245
I find an interesting thing. If I use the root account, I can use the concoct without error. But I will try to reinstall it, because it is not available to normal user.

[2019-02-22 11:33] ucassee commented on #245
I reinstall it. There is still an error.

(concoct_env) [zhouyl@localhost ~]$ concoct -v
Traceback (most recent call last):
  File "/data2017/share/tools/miniconda3/envs/concoct_env/bin/concoct", line 4, in <module>
    __import__('pkg_resources').run_script('concoct==1.0.0', 'concoct')
  File "/data2017/share/tools/miniconda3/envs/concoct_env/lib/python3.5/site-packages/pkg_resources/__init__.py"

[2019-02-22 12:29] alneberg commented on #245
Well now it seems like you have two concoct installed in parallel. If you create a new environment and only run the conda command (and not any setup.py command) it should work.

[2019-02-22 13:21] ucassee commented on #245
Hi @alneberg ，
    It is work now. Thank you very much. Could you please help me to solve the input file problem you mentioned before. It also occurs in the new concoct version.
`Up and running. Check /dataNew/User/zhouyl/sediment/metaWRAP/B11/log.txt for progress
/data2017/share/tools/miniconda3/envs/concoct_env/lib/python3.6/site-packages/concoct/input.py:82: FutureWarning: read_table is depreca

[2019-02-22 13:30] alneberg commented on #245
That's great!

Yes, I think it is caused by a mismatch of the lefthand column of the coverage table and the contig ids in the fasta file. Could you give me the first five contig names of the fasta file and see if these are also listed in the coverage file?

[2019-02-22 13:38] ucassee commented on #245
the first five lines in coverage file are:
`1       18.1576 2.85688
2       11.9123 7.08195
3       11.8578 7.6306
4       12.3037 7.30384
5       11.8619 7.26513
`
The first five contig names of the fasta file is

[2019-02-22 13:39] alneberg commented on #245
Ah, it might be an old bug, where concoct doesn't allow contig ids to be only integers. Would that explain it?

[2019-02-22 14:32] ucassee commented on #245
It is work after I replaced the contig ids. Thanks for your help~

[2019-02-22 14:42] ursky commented on #232
Good question. I just installed it in a clear conda environment and still got the same issue, which is good because now there are less distracting factors:

[code]

[2019-02-22 14:43] alneberg commented on #232
Ok, I agree, less distracting factors. I have to have a look at this right away.

[2019-02-22 14:48] alneberg commented on #245
Ah, that's a relief! Good luck with your binning!

[2019-02-22 14:48] #245 closed

[2019-02-25 08:59] alneberg commented on #232
I am indeed able to reproduce this problem. I was however able to solve it locally by upgrading openblas to `0.3.5` instead of `0.3.3` and reinstall concoct with `python setup.py install`. I will make this the default behaviour of the conda package and hope that this solves the problem.

[2019-02-25 09:01] kodragonP commented on #232
I think the problem is not the version of openblas. If you reinstall openblas after all packages installed, the problem will be solved.

[2019-02-25 09:12] alneberg commented on #232
Hi @kodragonP, sorry I'm not following completely. Are you saying that if you reinstall the same version of openblas and still using conda, the problem is solved? You then have to uninstall both concoct and openblas first right?

If you have the commands to reproduce this I would be very interested.

[2019-02-25 16:31] alneberg commented on #232
I think I managed to fix the current bioconda recipe. @ursky, please could you verify that the latest build of concoct works for you? I've tested it on a fresh ubuntu container with python 2.7 and 3.7, and the '-t' parameter is now functional.

[2019-02-26 11:58] alneberg commented on #244
I believe this problem was solved in #245.

[2019-02-26 11:58] #244 closed

[2019-02-26 12:01] alneberg commented on #239
The max iterations parameter is now working again thanks to c21349bdbe68139e82fa81dc7e14e5e8679a72a3. The epsilon parameter is still not useable, but we might as well remove that as an option, I haven't come across any time where this parameter should be adjusted.

[2019-02-26 12:05] alneberg commented on #234
Closed due to no response.

[2019-02-26 12:05] #234 closed

[2019-03-15 18:14] ursky opened #247 "CONCOCT v1.0 performance dip in metaWRAP environment"
Hey there,

As promised, I re-ran the metawrap benchmarks with the new version of metawrap v1.1.4, which includes concoct v1.0). However, the results were a bit disheartening - concoct actually performs worse than before, even in the gut dataset that it used to do well in. I re-ran the older metawrap (v1.0.2, which came with concoct v0.4) on the same assembly, and the concoct did well again. There

[2019-04-01 11:57] alneberg commented on #247
Hi @ursky,

sorry for the late reply, I have been off from work the last three weeks. This does look strange, especially the completion ranking. Do you merge the cutup contigs again before running the evaluation? Otherwise, that would explain the total drop in completion I guess.

However, I can't detect any problem with the code used in the metawrap implementation...

Do you have the dataset avai

[2019-04-02 13:07] ursky commented on #247
Yeah its strange... The contigs are merged after the binning, but for some reason most of the assembly remains unbinned by concoct. The gut dataset is the same that was used in the metaWRAP paper: SRA numbers SRR2053273–SRR2053308 (you can use `fastq-dump --split-files` to get them). There are many files but the reads are quite short and are co-assembled quickly with megahit, if you want to test t

[2019-04-02 13:21] alneberg commented on #247
Hmm, that's weird. Concoct is supposed to place all contigs in bins. So it's not *unbinned* as you describe it. But maybe that wasn't what you meant.

Is it not possible for you to share the contigs and the coverage table? That would both make it easier but most importantly more certain I'm actually using the same input as you are.

[2019-04-02 13:39] ursky commented on #247
That made me looks closer at the why I was getting "unbinned" in metawrap. Found it! Looks like when a contig name ents with 0's, e.g. `k93_563049_length_4438_cov_12.0000`, concoct decides to rename it to `k93_563049_length_4438_cov_12` for some strange reason... I dont know if that is intended behavior, but I recommend that should be fixed. In the meantime, I will force metawrap to only consider

[2019-04-02 13:57] alneberg commented on #247
Ah, nice, then I have something to track down! This is due to the naming scheme used by the splitting of contigs, contig names are suffixed by '.0', '.1', '.2' and so on, which maybe should be changed to  something less generic. So the renaming is done by the merging script which believes this contig is split into several parts where this is the first one. Does this problem explain the entire drop

[2019-04-02 13:59] ursky commented on #247
Most likely - 3/4 of my contigs were not binned because of this. I'll re-run the benchmarks.

[2019-04-02 15:03] ursky commented on #247
I think you dont need to change much in your code - just make sure you are only taking the value after the last `.`. In python it would be something like `contig=".".join(fragment_name.split(".")[:-1])` for extracting the contig name, and `fragment_id=fragment_name.split(".")[-1]` to get at the identifier. Not sure about in C++.

[2019-04-02 15:06] alneberg commented on #247
The problem is that it's not adding anything to contigs which are not split, so it's a question of distinguishing "12.000" from "12.000.0" in the case you showed. I'm thinking of appending ".concoct_part_0" instead and then use a regular expression to fetch it. That should be more fail safe.

[2019-04-08 07:12] ldumond opened #248 "issue between concoct_refine and fit function"
I have been trying to use concoct_refine on my binning using the following line
[code]

in which Concoct version=1.0.0
and concoct_refine was modified according to issue #243
Unfortunately I get the following message:

[code]
Here is the vbgmm.pyx script
[code]

Thank you for your support

[2019-04-11 12:13] Ash1One commented on #232
Hi,
I am still getting the issue that repeating OpenBLAS Warning in conda envrionment:
`name: metawrap
channels:
  - bioconda
  - https://mirrors.ustc.edu.cn/anaconda/pkgs/free
  - https://mirrors.ustc.edu.cn/anaconda/pkgs/main
  - https://mirrors.ustc.edu.cn/anaconda/cloud/conda-forge
  - https://mirrors.ustc.edu.cn/anaconda/cloud/bioconda
  - ursky
  - https://mirrors.ustc.edu.cn/anaconda/cloud/

[2019-04-11 19:50] ursky commented on #232
That actually broke it, i think:
[code]

[2019-04-11 19:55] ursky commented on #232
The issue is that the `libgslblas.so.0` symlink points to something does not exist. I can manually configure the symlink to point to `libgslcblas.so` like below. While this works, ideally this should not be necessary for the end user to do themselves.

[code]

[2019-04-18 09:20] SamLambrechtsUGent commented on #232
I'm having the same problem. Should I manually configure the symlink as ursky suggested (and if so, can I literally copy paste those commands?) Or should I wait for concoct to finish and ignore the warnings? Or cancel the run and try again when the problem has been fixed?

[2019-04-18 09:28] Ash1One commented on #232
I think you should cancel it and try to configure the symlink. I had this problem last week, too. Then I updated metawrap to 1.18, and it worked.😂

[2019-04-18 09:42] Ash1One commented on #232
But I met another problem that getting only one and big unbinning file when I ran CONCOCT by 'metawrap binning --CONCOCT'. Then I ran CONCOCT solely, and it was normal. I still don't understand.

[2019-04-18 13:03] ursky commented on #232
Can you give some details on the issue? Also, if concoct is already running and not exiting, you should be ok without restarting.

[2019-04-18 13:19] SamLambrechtsUGent commented on #232
I am running CONCOCT in the metaWRAP 1.1.8 conda environment, and as far as I can tell concoct is still very active and not exiting (lots of activity on htop, using all the specified threads or more, and 4.6G Mem). The `concoct_out/log.txt` file lists the following output:

[code]
That last entry: `2019-04-18 08:33:58,097:INFO:root:Will call vbgmm with parameters: INITIAL_BINNING/work_files/concoc

[2019-04-18 13:25] ursky commented on #232
Thats quite a large assembly, expect it to take a long time.

[2019-04-25 16:54] ursky commented on #232
Does anyone have any insight about what actually causes into the `OpenBLAS Warning : Detect OpenMP Loop` endless warning issue? Even with the updated concoct and openblas=0.3.5 i sometimes get it in some environments, but not others. Very frustrating.

An example of an environment that produces the error:
[code]

[2019-05-07 17:11] ursky commented on #232
Something very strange is going on with CONCOCT. Previously, I was able to get it to work in a stand-alone conda environement, but now I get the Openblas issue every time no matter what I try. See environment below. This is after clearing the downloaded packages in miniconda2/pkgs, so this is truly a "fresh" install - nothing to do with metawrap.

I am beginning suspect this might have something t

[2019-05-08 00:36] kodragonP commented on #232
Hi,
My concoct is still work now.
dependencies:
  - alabaster=0.7.12=py_0
  - asn1crypto=0.24.0=py27_1003
  - babel=2.6.0=py_1
  - biopython=1.68=py27_0
  - blas=1.0=mkl
  - bzip2=1.0.6=h470a237_2
  - ca-certificates=2018.11.29=ha4d7672_0
  - certifi=2018.11.29=py27_1000
  - cffi=1.11.5=py27h5e8e0c9_1
  - chardet=3.0.4=py27_1003
  - cryptography=2.3.1=py27hdffb7b8_0
  - cryptography-vectors=2.3.1=

[2019-05-08 07:45] SamLambrechtsUGent commented on #232
Not sure if this information is useful to you, but for me the problem still exists when installing with conda, but on the HPC of our university (where they install from source using the EasyBuild installation tool) the endless OpenBLAS warnings do not occur. The MetaWRAP support they are adding to EasyBuild is here: https://github.com/easybuilders/easybuild-easyconfigs/pull/7896 .  The HPC adminis

[2019-05-08 14:33] ursky commented on #232
Thanks @Ash1One! With this info I FINALLY got to the bottom of this. I noticed that you have the `defaults` conda channel in priority over `conda-forge` (which is what I usually use, and recommend for metawrap in the install instructions). After changing the priority with `defaults` ahead of `conda-forge`, everything started working again. Most likely one of the programs builds int he other channe

[2019-05-08 14:37] alneberg commented on #232
Wow, great work @ursky! Let me know what should also go into the requirements.txt or the conda installation recipe. Thanks!

[2019-05-08 14:39] ursky commented on #232
Thanks @Ash1One! This information finally helped me identify the issue. The problem does not come from any software version, but rather its build. In particular, the `blas` software NEEDS to have the `mkl` build version, (which also updates the appropriate mkl-supported libraries).

To fix this, just install a mkl build of blas. As far as I can tell, any version of blas is supported. In metawrap=1

[2019-05-08 14:45] ursky commented on #232
As for fixing the CONCOCT and metaWRAP conda recipes, the only change that needs to happen is to enforce the blas mkl build. For metawral, I will be enforcing `- blas 2.5 mkl`, but I am not sure how to handle the CONCOCT `meta.yaml` recipe, since the blas package can be of any version, and every version has a mkl and non-mkl build. I don't know how to do "OR" statements in yaml. As I mentioned, se

[2019-05-09 03:22] Ash1One commented on #232
@ursky ，😄. It has been a pleasure to make a little contribution for fixing the problem.

[2019-05-10 16:07] Ash1One opened #249 "KeyError when using fasta_to_features.py"
Hello,
error returned when I try to generate composition table
[code]
should I replace the letters other than ATCG in my co-assembly file ?
Thanks!

[2019-05-10 19:29] alneberg commented on #249
Hello @Ash1One, yes concoct can only use the standard kmers currently, so replacing the non-ATCG characters is needed. Are some assembly programs actually giving out such contig sequences?

[2019-05-11 00:42] Ash1One commented on #249
Hi @alneberg ,actually the contig sequences is `goldStandAssemly.fasta` from CAMI.
Thank you for your answer.😀

[2019-05-11 00:42] #249 closed

[2019-05-26 07:15] dannyionescu opened #250 "Error while running Concoct_covergae_table.py"
Hi. I am trying to use concoct. I am getting errors running the script concoct_coverage_table.py. If I run this in a python 2.7 environment (concoct) I am getting the following error:dionescu@allegro:/data/scratch/dionescu/IK/data/scratch/dionescu/IK/Concoct_binning$ concoct_coverage_table.py contigs_10k.bed mapping/issyk_kul_megahit.contigs.fa.IS.bam.bam > coverage_table.tsv
Traceback (most recen

[2019-05-27 07:15] alneberg commented on #250
Hello @dannyionescu,

I think the first error is due to incorrectly installed pandas. Reinstalling it with pip or conda should hopefully fix that.

The second error, I'm guessing is caused by specifying the wrong input files: ".bam.bam"?

[2019-05-30 16:41] qiyunzhu commented on #232
@ursky The fix didn't work for me. I followed the "better" installation instruction. It said:

[code]

[2019-06-06 14:50] TealFurnholm commented on #250
I too have an issue with this script

comics python concoct_coverage_table.py contigs_10K.bed mapping/*.bam > coverage_table.tsv

ERROR: fail to open index BAM file 'mapping/SAMPLE_201_ALL_ASSEMS_CLEAN_sorted.bam'
Traceback (most recent call last):
  File "concoct_coverage_table.py", line 75, in <module>
    generate_input_table(args.bedfile, args.bamfiles, samplenames=samplenames)
  File "concoct

[2019-06-25 14:11] franciscozorrilla commented on #224
Hi @johnne @alneberg , thanks again for all the help!

I recently presented my thesis project but I still have some lingering doubts that you could perhaps clarify: I have read through the CONCOCT paper again, and I remain a bit uncertain about **how** the coverage across samples information is used, particularly when running CONCOCT with the per-sample-assembly-approach. I have a very vague idea

[2019-06-25 14:18] alneberg commented on #224
Congratulations to having presenting your thesis! The original concoct paper only used co-assembly, while per-sample-assembly was used for the first time in Hugerth et al 2015. The reason to use per-sample-assembly is since the assembly itself becomes more easily handled and arguably better (for some ranges of coverage at least) as well. As I understand the main reason for you to use per-sample-as

[2019-06-25 14:56] franciscozorrilla commented on #224
Thanks again for the quick response!
Ok I think I have a better understanding now. So if we consider the following table:

![image](https://user-images.githubusercontent.com/35606471/60107153-b889ae80-9766-11e9-8c96-75242d0fb87e.png)

Then CONCOCT may bin contigs k115_5 and k115_16 together in the focal sample since they vary across samples somewhats similarly (perhaps not the best example)?

Igno

[2019-06-25 14:59] alneberg commented on #224
Yes that seems completely correct! I also find a similar graphical representation useful.

[2019-06-29 11:54] ucassee commented on #232
@ursky  I use `Best (manual) installation` to install metawrap(v=1.2.2).  But  `OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option.  ` this error still occur when I run concoct with metawrap in a cluter.

[2019-07-01 13:27] ursky commented on #232
Did you try the fix?

[2019-07-01 13:29] ursky commented on #232
And if the package is not found try searching for any mkl package. See all of the available ones with `conda search blas`, and it should show you which one you have installed and which are available.

[2019-07-01 15:48] ucassee commented on #232
@ursky
Thanks for your reply.

Loading channels: done
# Name                       Version           Build  Channel
blas                             1.0             mkl  anaconda/cloud/conda-forge
blas                             1.0             mkl  pkgs/free
blas                             1.0             mkl  pkgs/main
blas                             1.0          noblas  anaconda/cloud/conda-

[2019-07-01 15:54] ursky commented on #232
And if you run `conda list | grep blas`? And `conda install blas=2.5=mkl`? Did you add the recommended channels to your env?

[2019-07-01 16:06] ucassee commented on #232
Hi @ursky

blas                      2.7                    openblas    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
blast                     2.6.0               boost1.64_2    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/bioconda
libblas                   3.8.0                7_openblas    https://mirrors.tuna.tsinghua.edu.cn/anaconda/cloud/conda-forge
libcblas

[2019-07-01 16:08] ursky commented on #232
Looks like you have blas=2.7. So running `conda install blas=2.7=mkl` should fix it.

[2019-07-02 06:35] ucassee commented on #232
@ursky   Thank you~  it works

[2019-07-10 05:47] raissafedora commented on #181
Hi, this issue reappeared. Apparently scikit-learn 0.20 removed the vbgmm completely -- so it will turn up the error. May I know the fix ?

[2019-07-24 11:12] franciscozorrilla opened #251 "CONCOCT results discussion"
Hey, I just wanted to share some of my results that I obtained from the CONCOCT portion of my pipeline and maybe get some advice.

My dataset consisted of 137 set of paired end reads of WGS gut metagenomics information, which were quality filtered, assembled individually, and binned individually. In the figure directly below, QC refers to bin filtering using CheckM.

![image](https://user-images.g

[2019-07-24 23:46] jolespin opened #252 "ImportError: cannot import name GMM"
Can you update the GMM to https://scikit-learn.org/stable/modules/generated/sklearn.mixture.GaussianMixture.html so we don't have to downgrade sklearn to 0.19?
[code]

[2019-07-24 23:56] jolespin commented on #252
I just realized I'm using version 0.4.0

[2019-07-24 23:56] #252 closed

[2019-07-25 13:15] VGalata commented on #232
I have the same problem: I use `snakemake` and it installs `CONCOCT` into a new fresh `conda` environment. I also specified an mkl-version of blas. `CONCOCT` does start multiple threads (though more than specified), but I also get a lot of error messages: `OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option.` :(

The used YAML fi

[2019-07-27 09:24] ucassee commented on #232
Hi @ursky @alneberg  . I reinstall the metawrap in my server. But the `endless openblas warning` occured again when run concoct.

The following is the `blas` version. What should I do to fix it?

blas                      2.5                         mkl    conda-forge
blast                     2.6.0               boost1.64_2    bioconda
libblas                   3.8.0                     5_mkl

[2019-07-29 16:33] jolespin commented on #232
I'm no expert on this but I just got mine to work.  After reading through @ursky 's detective work, I did this to get it to work.  It's running right now, I'll let you know if I get the error:

[code]

[2019-07-29 16:48] jolespin commented on #232
Update, the above did'nt work.  I got it to to run until completion on a small dataset but not for a larger.  The following error message repeats:

`OpenBLAS Warning : Detect OpenMP Loop and this application may hang. Please rebuild the library with USE_OPENMP=1 option.`

[2019-07-29 18:03] jolespin commented on #232
@ursky  Can you do `conda env export` with your working conda environment so we can use `conda create --name metawrap_env --file <metawrap_env.yml>` ? That should allow us to use `concoct` via `metawrap` more easily.

[2019-07-30 13:11] alneberg commented on #232
Sorry for my lack of presence. I appreciate how much effort you're putting into this!

Currently a fresh install of concoct through conda is affected of this problem, so I am currently attempting to fix this in the concoct conda recipe.

I am hoping that removing openblas from the requirements of concoct (although it was added to solve exactly this issue to begin with) and also ensuring `blas=*=mk

[2019-07-30 14:05] alneberg commented on #251
Hi @franciscozorrilla, thank you for reporting back! Your plots look really nice!

I have actually never achieved any better results than this on real samples, even though I would recommend to use a more strict checkm QC criteria.

How to improve the results better than this is an active research field I think and I can only give you my current best guess. I think you are fairly successful in retr

[2019-07-30 14:06] #250 closed

[2019-07-30 14:11] alneberg commented on #248
Hi @ldumond, I'm not sure you're still working on this. The error seems to be that the `seed` variable is not given in the `concoct_refine` script. Since you have already started modifying the source code you are probably confident enough to just add a number of your choice in the function call, for example:

[code]

I'll keep this issue open until this is fixed in the develop version.

[2019-07-30 15:53] alneberg commented on #240
Sorry for not responding to this issue, I think you've already figured out that this is perfectly normal. The bins 1 and 3 are tiny as can be seen by the size column in your file list and does not contain any of the marker genes so therefore they do not come out as "good" bins.

[2019-07-30 15:53] #240 closed

[2019-07-30 15:54] #248 closed

[2019-07-30 15:56] alneberg opened #255 "More stable suffix for cutup contigs"
Using only an integer is not safe to use for some assemblers (see #247). Use e.g. .concoct_part_XX instead. This should be specific to concoct and therefore safer to use.

[2019-07-30 16:12] alneberg opened #256 "More tests!"
We need at least integration tests including:
 - [ ] `cut_up_fasta.py`
 - [ ] `concoct_coverage_table.py`
 - [ ] `merge_cutup_clustering.py`
 - [ ] `extract_fasta_bins.py`
 - [ ] `concoct_refine`

These should include tests where contig names include `.0`.

[2019-07-31 15:32] alneberg commented on #247
This should be solved as of #236

[2019-07-31 15:32] #247 closed

[2019-07-31 15:32] alneberg commented on #243
Fixed in develop version as of #254

[2019-07-31 15:32] #243 closed

[2019-07-31 17:46] jolespin commented on #234
How long is concoct expected to take with 1 thread?  This has been running for a few days.  Is this going all the way up to 500 iterations?

The command I ended up running is the following:
[code]

[code]

My `scaffolds.fasta` from `metaspades.py` is 383MB with `821204` contigs with the following stats with default quast settings:
`    scaffolds, N50 = 1385, L50 = 24779, Total length = 176321802,

[2019-08-01 07:49] #255 closed

[2019-08-01 07:49] #256 closed

[2019-08-01 08:08] #197 closed

[2019-08-01 08:10] alneberg commented on #20
No longer valid since v1.0

[2019-08-01 08:10] #20 closed

[2019-08-01 08:12] alneberg commented on #127
The new script to generate coverage tables without remapping (as of #222) removes the need for this.

[2019-08-01 08:12] #127 closed

[2019-08-01 08:14] alneberg commented on #203
As of #222 the script is improved as it uses samtools with a bedfile.

[2019-08-01 08:14] #203 closed

[2019-08-01 08:17] #238 closed

[2019-08-01 08:19] alneberg commented on #228
Yes, this is exactly the problem with this script. It's useful for a toy example but for a real world case it is better to have a snakemake pipeline or similar.

[2019-08-01 08:19] #228 closed

[2019-08-01 08:19] #211 closed

[2019-08-01 08:22] alneberg commented on #185
These suffices are added by the `cut_up_fasta.py` script and correspond to the different parts of the original contigs. The clustering of the original contigs can be retrieved using the `merge_cutup_clustering.py` script.

[2019-08-01 08:22] #185 closed

[2019-08-01 08:23] #186 closed

[2019-08-01 08:23] #175 closed

[2019-08-01 08:25] #180 closed

[2019-08-01 08:25] #182 closed

[2019-08-01 08:25] #184 closed

[2019-08-01 08:27] alneberg commented on #183
Yes, this is now replaced by the gitter channel: https://gitter.im/BinPro/CONCOCT. Otherwise posting a question here as an issue is also an alternative.

[2019-08-01 08:27] #183 closed

[2019-08-01 08:27] alneberg commented on #174
Dockerfile is now updated and should have the necessary programs to run concoct (although not the full tutorial).

[2019-08-01 08:27] #174 closed

[2019-08-01 08:28] alneberg commented on #168
Seems like the GNU scientific library is not installed or found by the compiler.

[2019-08-01 08:28] #168 closed

[2019-08-01 08:30] alneberg commented on #169
This was fixed in 966ed02e48df6dc17bd2b5632d32354010227d7c.

[2019-08-01 08:30] #169 closed

[2019-08-01 08:31] #187 closed

[2019-08-01 08:32] #164 closed

[2019-08-01 08:32] alneberg commented on #156
Works fine as it is.

[2019-08-01 08:32] #156 closed

[2019-08-01 08:34] alneberg commented on #194
The coverage table can now be created from a set of bam files and no specific script for mapping is longer recommended.

[2019-08-01 08:34] #194 closed

[2019-08-01 08:36] alneberg commented on #237
Closing this due to lack of response. Please reopen if this is still an issue.

[2019-08-01 08:36] #237 closed

[2019-08-01 08:41] #224 closed

[2019-08-01 08:51] alneberg commented on #135
Not an issue as far as I can tell.

[2019-08-01 08:51] #135 closed

[2019-08-01 09:12] #239 closed

[2019-08-01 11:02] alneberg commented on #232
Success! The current conda recipe creates a concoct env without this error. The solution was to remove openblas and enforce `blas=*=mkl` as indicated above. I'm closing this now and it can be opened again if this error reoccurs.

[2019-08-01 11:02] #232 closed

[2019-08-01 11:04] alneberg commented on #208
The current method:
[code]
is good enough for now I think.

[2019-08-01 11:04] #208 closed

[2019-08-01 11:14] alneberg commented on #234
Hi @jolespin. I cannot spot any error in your script.

I'm afraid running with 1 thread is not a good idea, but I assume you are doing this due to the #232 error? In that case, I'm happy to tell you that I believe that error is now finally resolved in the current conda installation.

While running times are very hard to estimate, I had a recent report of running time for 1M contigs of around 5 day

[2019-08-01 16:53] #242 closed

[2019-08-02 06:07] #233 closed

[2019-08-02 06:12] alneberg commented on #202
Changed title to help users find this if needed. Closing it as I've haven't seen it for a long time.

[2019-08-02 06:12] #202 closed

[2019-08-02 06:15] alneberg commented on #112
Fixed as of #131.

[2019-08-02 06:15] #112 closed

[2019-08-02 06:16] alneberg commented on #119
No, current method is to install via conda.

[2019-08-02 06:16] #119 closed

[2019-08-02 06:18] alneberg commented on #54
This was removed when the coverage script was updated.

[2019-08-02 06:18] #54 closed

[2019-08-02 06:19] alneberg commented on #128
The solution to use a bedfile for the subcontigs removes the need for this. When using Kallisto or Salmon, manual cut-up before mapping is still needed.

[2019-08-02 06:19] #128 closed

[2019-08-02 06:20] alneberg commented on #199
Would have to include the bedfile and the merging script into the main tool as well then.

[2019-08-02 06:33] alneberg commented on #191
The new README should cover this scenario.

[2019-08-02 06:33] #191 closed

[2019-08-02 10:54] alneberg commented on #181
Hi @raissafedora! The `vbgmm` module referenced here is actually the c-module implemented by concoct and not the one with the same name in scikit-learn. So concoct should not be affected by the removal of it in scikit-learn. If you see this message it's rather likely that something went wrong with the installation of concoct. The current recommendation on how to install concoct can be found here:

[2019-08-02 11:35] #172 closed

[2019-08-02 11:35] #34 closed

[2019-08-02 11:37] alneberg commented on #45
We have a test now which includes calculation of recall and precision.

[2019-08-02 11:37] #45 closed

[2019-08-02 11:39] #141 closed

[2019-08-02 11:40] alneberg commented on #146
Issue likely not valid anymore since version of concoct has changed a lot.

[2019-08-02 11:40] #146 closed

[2019-08-02 11:55] alneberg commented on #209
Sorry to keep you waiting. The honest answer is that I don't know. The linkage script hasn't been maintained in a few years and we never actually used it since we didn't see an advantage to the clustering results from it compared to just using concoct.

Judging from the Validate.pl script I can decode that the second column contains the cluster id. So you can use this file as a regular clustering

[2019-08-02 11:55] #209 closed

[2019-08-02 11:55] alneberg commented on #167
Sorry to keep you waiting. The honest answer is that I don't know. The linkage script hasn't been maintained in a few years and we never actually used it since we didn't see an advantage to the clustering results from it compared to just using concoct.

Judging from the Validate.pl script I can decode that the second column contains the cluster id. So you can use this file as a regular clustering

[2019-08-02 11:55] #167 closed

[2019-08-04 15:39] franciscozorrilla commented on #251
Hey @alneberg thanks again for the feedback!

You are probably right about the filtering parameters, I will try to make them stricter if I end up publishing any of this. I was not initially very concerned with the filtering parameters, as I have been using the binned MAGs to generate species specific GEMs with this [top-down-reconstruction-approach tool](https://academic.oup.com/nar/article/46/15/

[2019-08-05 14:14] alneberg commented on #251
I don't think it's unimportant to do strict filtering for GEMs, since you can end up with pathways that doesn't actually exist if you have high contamination and you can end up with two bins for the same genome if you have low completeness (<50%).

Sorry, I haven't tried any of the modern tools, but happy to hear back from you about your results. I'll close this issue now but you're welcome to ans

[2019-08-05 14:14] #251 closed

[2019-08-12 02:49] slvrshot opened #270 "Using CONCOCT to determine coverage of specific predicted ORFs in multiple samples"
I ran across this software when I was researching the `map-bowtie2-markduplicates.sh` tool described in https://buildmedia.readthedocs.org/media/pdf/metagenomics-workshop/2014-5/metagenomics-workshop.pdf file. I have some nucleotide sequences of predicted ORFs from prodigal and would like to determine the read coverage for these genes for each one of my samples (total of 28, divided into 4 groups)

[2019-08-12 07:34] alneberg commented on #270
Hi @slvrshot, there are many ways of accomplishing this. CONCOCT is not designed for this task specifically and I will have to refer you on to any these biostars questions:
https://www.biostars.org/p/5165/
https://www.biostars.org/p/201722/

I hope you find what you're looking for there.

[2019-08-12 07:34] #270 closed, assigned to nobody

[2019-08-29 16:29] franciscozorrilla opened #271 "Pre-assembly binning?"
Hello again!

I have been thinking about how to increase the number and improve the quality of reconstructed MAGs, and I wanted to get your thoughts on a particular approach that I read in some bioinformatics paper (which I am now unable to find!).

Do you foresee any limitations or problems with performing an additional round of binning before assembly? The idea would be to bin short reads into p

[2019-09-11 11:56] Sebastien-Raguideau opened #272 "concoct_refine fails under pandas 0.25.1 and numpy 1.17.2"
Hello,

I just installed concoct among other things in a conda environment.
It installed pandas 0.25.1 and numpy 1.17.2 in python 3.6.7
Which make reading the data fail at the step :

[code]
Here is the exact error message

[code]
One way to deal with the issue is to change concoct_refine so that it is compliant with whatever was twiked in numpy and or pandas. The other way would be for me to know

[2019-09-11 12:02] alneberg commented on #272
Ah, sorry about this. I think the `original_data.values` shouldn't be a method, but it is also deprecated. Would you mind checking if

`original_data_matrix = original_data.to_numpy()`

works instead?

Thank you,
Johannes

[2019-09-11 12:13] Sebastien-Raguideau commented on #272
Hi Johannes,
So i was just looking into it and indeed when using the .as_matrix() it gives a message stating that it is deprecated and prompt user to use .values instead.
So I just gave a quick test and it seems to work fine if it's not called : so
`original_data.values `works
while `original_data.values()` does not

So, it's nice that it is easy to fix :)

Also just had a go at `original_data_mat

[2019-09-11 19:33] alneberg commented on #272
Thanks for helping out!

Ok, so changing to values should work, but according to pandas [documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_numpy.html#pandas.DataFrame.to_numpy), `to_numpy` should be available from pandas 0.24.0 and on...

Do you want to put together a pull request and make it to the github contributors list, or do you want me to fix it?

[2019-09-15 18:15] adityabandla opened #273 "Coverage calculation from kallisto"
I am trying to use Kallisto to estimate coverage of my assembled contigs (paired-end library).
I had a look at the script here
https://github.com/EnvGen/toolbox/blob/master/scripts/kallisto_concoct/input_table.py

Standard division of estimated read counts by the contig length, is then multiplied by 200. What exactly is 200 here, although it shouldn't matter what the constant is

[2019-09-16 11:00] alneberg commented on #273
Hi @adityabandla,

good that you found your way to that script! Please have a look at the calculation and make sure that you agree with the rest of the calculation as well. The number 200 is supposed to correspond to the total read length so that it would correspond to coverage calculated the traditional way. Honestly though, I've used it with several different read lengths.

Good luck,
Johannes

[2019-09-16 12:37] adityabandla commented on #273
Thanks @alneberg
It makes sense now, but I am assuming that this is the case when the two paired-end reads do not overlap

[2019-09-16 12:45] alneberg commented on #273
Yes, you are right. This is only an approximation as we usually trim the reads beforehand as well. But as you say, the value of the constant is not very important. I've mostly used it to have the scatter plot between kallisto quantification and regular coverage quantification in the same scale.

[2019-09-19 15:43] adityabandla commented on #273
Thanks a ton!

[2019-09-19 15:43] #273 closed, assigned to nobody

[2019-09-30 18:25] chrisquince commented on #272
OK I just tried fixing this by changing to to_numpy() but is there a reason why we prefer values. Given the instability of the pandas api the long term solution would be to remove the pandas dependence?

[2019-10-01 08:04] Aline-Git opened #274 "merge_cutup_clustering is not merging"
[clustering_gt1000.txt](https://github.com/BinPro/CONCOCT/files/3696105/clustering_gt1000.txt)
[clustering_merged.txt](https://github.com/BinPro/CONCOCT/files/3696109/clustering_merged.txt)

Hello,
Everything seemed to work fine until the merging of the subcontigs with the script merge_cutup_clustering.py. The script taking in input the file 'clustering_gt1000.csv', looking like this :
contig_id,c

[2019-10-15 12:48] Aline-Git commented on #274
I found the solution, I was running the first steps of concoct before activating the conconct_env, this does not work.

[2019-10-15 12:48] #274 closed, assigned to nobody

[2019-10-15 15:57] SarahIsme opened #275 "The Error: TypeError: expected a string or other character buffer object"
Dear developer,

The concoct was installed by the command "conda install concoct=1.0.0=py27h63c6309_2".

When running the command:
`concoct_coverage_table.py contigs_10K.bed 114_4_spades_default.bam > coverage_table.csv`
it showed:

[code]
The bam file was generated by sorting the sam file using `samtools`.

Could you please tell how to solve the problem?

Thanks in advance.

[2019-10-15 16:09] Duannai opened #276 "The necessity of dereplicating PCR duplication"
In some concoct manuals, after aligning the reads and sorting the sam file, the PCR duplications were reomoved by `MarkDuplicates` before determining the coverage of contigs.

But in the offical manual,

it does not do such a operation.

Could you please explain the necessity of dereplicating PCR duplication?

Best regards,

[2019-10-17 16:02] SarahIsme opened #277 "ERROR: fail to open index BAM file"
Hello,

I installed the concoct using `conda create -n concoct_env python=3 concoct` as the manual.

The .bam file were generated by samtools 1.9 using `samtools sort -@ 10 -o sorted.bam unsorted.sam`

The script `cut_up_fasta.py` worked well.

However, when running `concoct_coverage_table.py contigs_10K.bed sorted.bam > coverage_table.tsv`, it showed

[E::hts_open_format] Failed to open file /med

[2019-10-21 13:54] thanhleviet commented on #277
It seems bam index was missing, after sorting the bam file, run `samtools index  sorted.bam`

[2019-10-23 10:57] josieparis opened #278 "panda reindex errors"
Hi!!

I am trying to run concoct following the manual as a first pass:

Run concoct:
concoct --composition_file contigs_10K.fa --coverage_file coverage_table.tsv -b concoct_output/

But am gettting the following panda errors:

[code]

I noticed that the latest code was update was to "Fix pandas errors and warnings - in future perhaps drop pandas", is this related? Any help on this greatly apprecia

[2019-10-30 14:01] MChiaraC opened #279 "concoct on long reads and hybrid assemblies"
Hi, is there any chance concoct can work with assembly and coverage info coming from long reads only? Or short paired reads are the only ones working for this algorithm?
In this second case should I bin hybrid assemblies using only short reads or is there still somehow a probability of bias?

Thanks!

[2019-10-30 14:46] alneberg commented on #279
Hi @MChiaraC,

I think the coverage is the important thing here, if you have deep seequencing of long reads, it *should* work in theory (untested). But I guess the normal case is that you have quite low coverage from only long reads.

A hybrid assembly where the short reads are used for coverage estimation should work fine and sounds like a great idea if you have access to that kind of data. There

[2019-11-04 08:54] #279 closed, assigned to nobody

[2019-11-04 08:58] alneberg commented on #278
Hi @josieparis!

I don't know exactly what causes this error but since it occurs in the `load_coverage` method, I would suspect that the coverage file might not have the correct format. Could you perhaps post the first few lines of it?

You could try to recreate the coverage file if you still have the bam files around with the command:

`concoct_coverage_table.py contigs_10K.bed mapping/Sample*.so

[2019-11-04 09:00] alneberg commented on #277
Hi @SarahIsme.

Yes, I would agree with @thanhleviet. It's most likely the missing .bai files which is causing the problem.

[2019-11-04 11:20] josieparis commented on #278
Thanks @alneberg!

Here's the head of my coverage file:

[code]

I wondered if it might be the numbers in the scaffold names as I'm aware that this is a known issue, but I ran a test changing the digits to letters, and unfortunately, the error reoccurs.

I also tried rerunning `concoct_coverage_table.py` but the coverage file is the same ...

Thanks for your help with this!

[2019-11-04 13:43] alneberg commented on #278
Hmm, still no clear view of what the issue is caused by. Googling the error, I found [this](https://stackoverflow.com/questions/27236275/what-does-valueerror-cannot-reindex-from-a-duplicate-axis-mean).

Interpreting the answer, I suspect there might be duplicate contig names in either the coverage file or the contigs_10K.bed. Could you check that?

[2019-11-04 14:21] josieparis commented on #278
hurray!!
Yes, for some reason, both my contigs_10k.bed and coverage table had triplicate values! Strange ... I must have appended data at some point ...

Thanks again @alneberg, really appreciate the help

[2019-11-04 14:21] #278 closed, assigned to nobody

[2019-11-07 15:15] jieyalee0226 commented on #275
you must to run "samtools index 114_4_spades_default.bam", and then run "concoct_coverage_table.py contigs_10K.bed 114_4_spades_default.bam > coverage_table.csv".

[2019-11-19 15:42] ReneKat commented on #250
Hi @alneberg,
I am actually having this issue too.
I created the concoct_env as specified and am using: python 3.6.7; pandas 0.25.3; numpy 1.17.3
Loaded packages in environment:
packages in environment at /Users/Owl/miniconda3/envs/concoct_env:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
babel

[2019-11-19 15:54] alneberg commented on #250
Hi René!

I think important part of the error message is: `ERROR: fail to open index BAM file 'cSMMC_MH.srt.bam'`. Could you please  make sure there are `.bai`-files for this `.bam`-files?

[2019-11-19 16:09] ReneKat commented on #250
Hello @alneberg,
Thank you so much for your quick reply! :)
No, there are no .bai files. I used samtools to convert from .sam files...

[2019-11-19 16:16] ReneKat commented on #250
I just indexed my .bam file using samtools:
`samtools index cSMMC_MH.srt.bam  cSMMC_MH.srt.bam.bai`
and reran the code using the indexed bam file:
`/Users/Owl/Git/CONCOCT/scripts/concoct_coverage_table.py contigs_10K.bed cSMMC_MH.srt.bam.bai > cSMMC_coverage_table.tsv`
and got the same error message:
[E::hts_hopen] Failed to open file cSMMC_MH.srt.bam.bai
[E::hts_open_format] Failed to open file c

[2019-11-19 16:23] ReneKat commented on #250
Okay, got it!
I misunderstood, it's not that the index file replace the .bam file it is only that they have to be in the pwd. So, after I created the .bai index of the .bam file, and reran the original command:
`/Users/Owl/Git/CONCOCT/scripts/concoct_coverage_table.py contigs_10K.bed cSMMC_MH.srt.bam > cSMMC_coverage_table.tsv`
it worked!
Thank you for your time and patience.
Best,
René

[2019-11-19 16:33] ReneKat commented on #227
Hi @alneberg:
I'm over here now. :)
I have the latest versions of concoct and samtools installed and am getting the same error above:
# packages in environment at /Users/Owl/miniconda3/envs/concoct_env:
#
# Name                    Version                   Build  Channel
alabaster                 0.7.12                     py_0    conda-forge
babel                     2.7.0                      py

[2019-11-20 09:01] alneberg commented on #227
Hi @ReneKat,

I can see in your list of packages that you're using concoct 0.4.1. Can you consider to upgrade to the latest version instead?

Thank you,
Johannes

[2019-11-20 09:06] alneberg commented on #250
Yes, your last description is correct!

You mostly solved it yourself,
Cheers

[2019-11-20 13:23] ReneKat commented on #227
Hello Johannes (@alneberg),
I can see from the change log that you're on version 1.1.0! So, yes my version is quite behind. However, when I run
` conda update concoct`
I get:
# All requested packages already installed.

When I run:
`concoct -v`
I get the above error again.

I have only ever installed packages using conda. I'm running MacOS 10.14.6.

[2019-11-20 14:33] alneberg commented on #227
There are some issues with the concoct conda build recipe where it is quite specific with some dependencies. I think the easiest way is to make completely new environment. Just follow the installations instructions again: https://concoct.readthedocs.io/en/latest/installation.html

It should be fairly quick. If you have something else in your current environment you can always switch between the tw

[2019-12-12 20:13] linsalrob opened #281 "extract_fasta_bins with numeric contig IDs"
`extract_fasta_bins.py` uses pandas `read_csv` that automatically converts numeric IDs to strings. If you have a lot of contigs from different assemblies, it is more convenient to renumber them with numeric IDs, and this will cause `extract_fasta_bins.py` to fail with a `KeyError` as the sequence IDs are strings at one point and integers at another, and so the IDs can not be found.

[2020-01-30 10:27] jtamames opened #283 "Need for cutting contigs in pieces?"
Hello
First at all, congrats for your excellent work!
I wanted to ask you for the necessity of cutting contigs in pieces. This is because I already have coverage values for the contigs I want to bin with concoct. That is, I could easily generate the coverage table, not needing to work with the bam files, and thus saving a substantial amount of time. But my coverage table will have values for the f

[2020-02-27 00:05] jolespin commented on #232
Just wanted to follow up with this.  Has this issue been fixed? I kind of want to dive back into my dataset soon and there's LOTS of euks in there so I don't want to use metabat2 or maxbin2.  I also don't want to run concoct with one thread haha.

[2020-02-27 03:15] ursky commented on #232
This doesnt answer the question but in my experience extracting eukaryotic MAGs, metabat2 usually performs the best. Id give it a try.

[2020-02-27 07:51] alneberg commented on #232
@jolespin, I believe this issue was resolved yes. However, the nature of the problem makes it likely to come back. Did you try to create a fresh conda environment with concoct and check if you get the error?

[2020-04-10 12:04] franciscozorrilla opened #286 "Converting jgi_summarize_bam_contig_depths output files into the concoct_coverage table"
Hello @alneberg ,

I am trying to convert some jgi_summarize_bam_contig_depths (from metabat2) output files into a concoct_coverage table. If I understand correctly this should be possible, but I am running into problems. Here is what I have done:

0. Chose ERR599120 as focal sample
1.  Obtained indiviudal depth files for 3 samples (ERR599120,ERR599121,ERR599122) by running  jgi_summarize_bam_cont

[2020-04-11 13:50] franciscozorrilla commented on #286
I took a closer look and I suspect that my method for generating the `concoct_coverage.table` would only work if the `jgi_summarize_bam_contig_depths` output depth files are generated on sorted bam files that are mapped against the cut up contigs. This is the only difference I can identify between my successful concoct runs and the above mentioned attempt. Do you think this is the root issue behin

[2020-04-11 13:50] #286 closed, assigned to nobody

[2020-04-11 14:05] franciscozorrilla commented on #283
Hello Javier,

Have you read issue #173? Perhaps it doesn't explicitly answer your question about whether it is strictly necessary to cut up contigs, but it does give some motivation behind why they do it.

Perhaps you would also be interested in reading issue #286, where you will find that I was encountering errors with running concoct if my coverage table did not have cut up contigs.

You mentio

[2020-04-11 15:36] jtamames commented on #283
Thank you Francisco
We are integrating concoct in our SqueezeMeta platform ([https://github.com/jtamames/SqueezeMeta](url)). SqueezeMeta already maps reads back to contigs, generating coverage tables that we use to run Maxbin and Metabat2.
Best,
Javier

[2020-04-11 17:52] franciscozorrilla commented on #283
Ah yes I've come across the SqueezeMeta paper before, very nice work!
In the second post of the aforementioned issue (#286) I describe how I managed to get concoct coverage tables (from sorted bam files that were mapped against the original contigs) in terms of the cut up contigs. If I understand correctly, you only need to cut up the contigs to generate a bedfile to provide as input to `concoct_c

[2020-04-11 17:54] jtamames commented on #283
Thanks a lot Francisco I will take a look and come back to you if I need help.
Best,
Javier

[2020-04-11 17:54] #283 closed, assigned to nobody

[2020-05-03 16:12] franciscozorrilla opened #287 "Read length argument"
Hi,

I was wondering if the -r parameter significantly influences the binning output, or is it comparable to the somewhat arbitrary constant value used in the kallisto to concoct script (#273)?
[code]
I have run CONCOCT for multiple datasets with different read lengths but I have never changed the default -r parameter, so I am wondering if I should re-run CONCOCT and specify read length?

Best,
Fr

[2020-06-02 13:54] emaxortiz opened #288 "error with concoct_coverage_table.py"
Hello,
I'm getting the following error when I try to submit a job to a server using torque/qsub.

This is my command:
module load concoct-1.1.0
concoct_coverage_table.py contigs_10K.bed contigs_map.sorted.bam > coverage_table.tsv

And this is the error from the server.
----------------------------------------------
Traceback (most recent call last):
  File "/apps/concoct-1.1.0/scripts/concoct_cove

[2020-06-08 21:36] Naima16 opened #289 "'DataFrame' object has no attribute 'ix'"
Hello

I am running concoct command:
concoct --composition_file contigs_10K.fa --coverage_file coverage_table.tsv -b concoct_output/**

which generate this error:

Up and running. Check /lustre03/project/6006375/naima17/oral_microbiome/binning_concoct/concoct_output/log.txt for progress
Traceback (most recent call last):
  File "/home/naima17/virtual_env/Concoct/bin/concoct", line 4, in <module>

[2020-06-19 05:24] YT123-coder opened #290 "Take long time?"
Hi,
I have been running concoct for contig file (ca. 500MB) for almost 3 days, but the log is stuck like below. Does concoct need considerable time for accomplishment? or Do I make mistakes?

The command I run from installation to activation is also written below

Best Regards,

**log
2020-06-17 17:58:17,728:INFO:root:Results created at /Users/yuyatsukamoto/Desktop/metagenome/metagenome/Metagenome

[2020-06-19 06:49] mutantjoo0 opened #291 "ERROR with concoct_coverage_table.py #question #error"
Hello CONCOCT team  (@andand @alneberg @binnisb @inodb )

I am getting error while running `concoct_coverage_table.py`. I am using CONCOCT on miniconda environment as follows:
[code]
My contigs fa files were generated with megahit and mapped/sorted/indexed bam files were generated with bbmap.

First, following the workflow described in [Basic Usage](https://concoct.readthedocs.io/en/latest/usage.h

[2020-07-01 09:02] franciscozorrilla commented on #291
Hi Joo-Young,

I believe that the problems you are experiencing are due to your misuse of the `cut_up_fasta.py` script:

[code]

In your code you wrote:

[code]

However, your input contigs `./input_megahit_contigs/SAMPLE.final.contigs.fa` are on the right hand side of the output redirect (`>`). In bash terms, this means that the output of what is generating by the left hand side will be stored in

[2020-07-03 05:32] mutantjoo0 commented on #291
Hi Francisco,

Thank you for your help. I started over from step 1 and noticed changes between my previous outputs and outputs from the suggested command. However, error still occurs as follows.
[code]
Line numbers in Traceback were partly different from those in previous errors, but descriptions still look same. Additionally I noticed a sort of warning `[W::hts_idx_load2] The index file is older

[2020-07-04 08:34] franciscozorrilla commented on #291
Hi Joo-Young,

Sorry to hear that you are having trouble interacting with CONCOCT and your conda environments. I can also suggest you try out [kbase](https://kbase.us/). This platform allows you to more easily interact with a HPCC using a graphical user interface, giving you access to CONCOCT and many other bioinformatic tools without having to install/setup anything or write any code yourself. Ho

[2020-07-08 13:56] fpusan opened #292 "CONCOCT uses more CPUs than requested with the --threads argument, unless user also sets OMP_THREAD_LIMIT to the right value"
Hi team! Thanks for the awesome software (and for still maintaining it!).

As per the title, concoct uses more CPUs than instructed.

If I got your code correctly, thread usage is limited in the lines attached below,

https://github.com/BinPro/CONCOCT/blob/823dcd670bc42f6ea4622881c2484cda6c253a76/c-concoct/c_vbgmm_fit.c#L80-L81

but apparently this does not work as intended: even if the print mess

[2020-07-09 19:54] mutantjoo0 commented on #291
Hi Francisco,

Thank you for your kind support. I did re-run without typos in command. As you can see below, using coverage file, either from `jgi_summarize_bam_contigs_depths `or `pileup`, I got same errors.

#using coverage file from jgi_summarize_bam_contigs_depths (metabat2):
[code]
#using coverage file from pileup.sh (BBMap):
[code]
Then, I tried to used modify coverage file from metabat2 as

[2020-07-14 09:08] sejmodha opened #293 "cut_up_fasta.py add *_concoct_part_0 to contigs that are not cut up"
Hi There,

I am trying to use CONCOCT for the first time and facing issues with the second step of the pipeline which leads to `Errors in BED line*`.

I have got a range of contigs from length 300-42kb. When I used the `cut_up_fasta.py`, it has created the .bed file with subcontig IDs which contain *_.concoct_part_0 even for the contigs that were not split. When this file is used with `concoct_cov

[2020-10-23 15:03] larssnip commented on #277
I have a similar problem, except I have the sorted and indexed bam-file. The file has been created by bowtie2 (mapping) and samtools (view, sort, index) to get a sorted and indexed file ending with .bam.bai. Still, the concoct_coverage_table.py produces the same error as reported above. Could someone provide the exact code (samtools statements)  that takes us from the .sam file to the proper sorte

[2020-11-04 00:54] gwendolin opened #294 "vbgmm import error"
Hi,

I saw a couple similar issues to this one on the forum, but I haven't been able to fix it myself. I am getting this error when trying to run concoct -h:

(concoct_env) science@SC-Bioinformatics:~$ concoct -h
Traceback (most recent call last):
  File "/home/science/miniconda3/envs/concoct_env/bin/concoct", line 6, in <module>
    import vbgmm
ImportError: libmkl_rt.so: cannot open shared objec

[2020-11-04 16:24] DavidGeeraerts commented on #294
(Cc @gwendolin )

Is it odd that the `libmkl_rt.so` is pointing to a file path that doesn't exist?
[`"filepath": "/home/ogrisel/miniconda3/envs/tmp/lib/libmkl_rt.so"`]

Seems like this might be the issue?

![image](https://user-images.githubusercontent.com/5765941/98135754-0f33ec00-1e75-11eb-87cd-23d5e461481b.png)

This might explain why `concoct --help` doesn't even work?

![image](https://user-i

[2020-11-05 18:44] yujulian0168 commented on #277
What worked for me was moving the sorted .bam file and the indexed .bai file into the same directory and then running the concoct_coverage_table.py script.

[2020-11-09 20:52] cwood15 commented on #181
Hello,

I seem to be having the same issue. When I try to run concoct I get the error:
Traceback (most recent call last):
  File "/home/cwood15/anaconda3/envs/concoct_env/bin/concoct", line 6, in <module>
    import vbgmm
ImportError: libmkl_rt.so: cannot open shared object file: No such file or directory

My input was: concoct --composition_file contigs_10K.fasta --coverage_file coverage_table.ts

[2020-11-09 20:56] cwood15 commented on #294
Hello,

I seem to be having the same issue. When I try to run concoct I get the error:
Traceback (most recent call last):
File "/home/cwood15/anaconda3/envs/concoct_env/bin/concoct", line 6, in
import vbgmm
ImportError: libmkl_rt.so: cannot open shared object file: No such file or directory

My input was: concoct --composition_file contigs_10K.fasta --coverage_file coverage_table.tsv -b concoct_ou

[2020-11-10 22:59] DavidGeeraerts commented on #294
@alneberg @binnisb @inodb
Are you still maintaining this project?

[2020-11-11 07:08] alneberg commented on #294
@DavidGeeraerts, I'm listening at least.

I am not able to help out much at this point. I believe this is related to the bioconda recipe: https://github.com/bioconda/bioconda-recipes/tree/master/recipes/concoct  which has been acting up several times over the years. I would be happy to merge in any fix if someone is able to find out what's going wrong.

[2020-11-12 23:48] gwendolin commented on #294
Solved this issue by navigating to the bin and installing the mkl library:
`/home/science/miniconda3/envs/concoct_env/bin
pip install mkl`

Then everything works!

[2020-11-12 23:48] #294 closed, assigned to nobody

[2020-11-14 03:17] tangminBio opened #295 "concoct_refine error"
Hello,
"concoct_refine clustering_gt1000_R.csv original_data_gt1000.csv clustering_gt1000_scg_sort.csv > concoct_ref.out
/home/tm/miniconda3/envs/concoct_env/bin/python: symbol lookup error: /home/tm/miniconda3/envs/concoct_env/lib/python3.8/site-packages/../../libmkl_intel_thread.so: undefined symbol: omp_get_num_procs"

I got this error report, but I have the libmkl_intel_thread.so in the direct

[2020-11-14 03:34] tangminBio commented on #295
I added the libiomp5.so file and anther error came: /home/tm/miniconda3/envs/concoct_env/lib/python3.8/site-packages/sklearn/decomposition/_pca.py:461: RuntimeWarning: invalid value encountered in true_divide
  explained_variance_ = (S ** 2) / (n_samples - 1)
Traceback (most recent call last):
  File "/home/tm/miniconda3/envs/concoct_env/bin/concoct_refine", line 81, in <module>
    main(args)
  F